.box1 {
  width: 95%;
}

.box1 .top {
  width: 95%;
}

.box1 .top .top-1 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  text-align: center;
}

.box1 .top .top-1 .tg {
  padding: 0;
}

.box1 .top .top-1 .tg:nth-child(1) {
  margin-bottom: 1rem;
}

.box1 .top .tag1 img {
  width: 96%;
  height: 100%;
}

.box1 .top .tag1 a img {
  width: 96%;
  height: auto;
}
