html {
  font-size: 10px;
}

.boxA {
  width: 100%;
  height: auto;
  padding: 1rem 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.boxA input {
  display: none;
}

.boxA .header {
  width: 60%;
  height: 5rem;
  position: relative;
  max-width: 110rem;
  margin: 0 auto;
}

.boxA .header::before, .boxA .header::after {
  content: '';
  display: table;
  clear: both;
}

.boxA .header #a:checked ~ .top .top-name:nth-child(1) {
  color: #ffffff;
  text-shadow: 0 0 0.5rem #000000;
}

.boxA .header #a:checked ~ .cheack {
  height: 20rem;
}

.boxA .header #a:checked ~ .cheack .che {
  display: none;
}

.boxA .header #a:checked ~ .cheack .che1 {
  display: block;
  opacity: 1;
}

.boxA .header #n:checked ~ .top .top-name:nth-child(2) {
  color: #ffffff;
  text-shadow: 0 0 0.5rem #000000;
}

.boxA .header #n:checked ~ .cheack {
  height: 20rem;
}

.boxA .header #n:checked ~ .cheack .che {
  display: none;
}

.boxA .header #n:checked ~ .cheack .che2 {
  display: block;
  opacity: 1;
}

.boxA .header #s:checked ~ .top .top-name:nth-child(3) {
  color: #ffffff;
  text-shadow: 0 0 0.5rem #000000;
}

.boxA .header #s:checked ~ .cheack {
  height: 20rem;
}

.boxA .header #s:checked ~ .cheack .che {
  display: none;
}

.boxA .header #s:checked ~ .cheack .che3 {
  display: inline-block;
  opacity: 1;
}

.boxA .header .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 5rem;
  background: rgba(255, 255, 255, 0.8);
  background-size: 50% 50%;
  -webkit-clip-path: polygon(5% 0%, 95% 0%, 100% 50%, 95% 100%, 5% 100%, 0% 50%);
          clip-path: polygon(5% 0%, 95% 0%, 100% 50%, 95% 100%, 5% 100%, 0% 50%);
  position: relative;
  z-index: 999;
  margin: 0 auto;
}

.boxA .header .top .top-name {
  width: 4rem;
  height: 5rem;
  font: bold 2rem/2rem Microsoft YaHei UI Light;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  line-height: 5rem;
  padding: 0 1rem;
}

.boxA .header .top .top-name:nth-child(1) {
  margin-left: 5%;
}

.boxA .header .top .top-name:nth-child(4) {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  text-align: right;
  margin-right: 5%;
}

.boxA .header .top .top-name:nth-child(4) a {
  color: #d40000;
}

.boxA .header .cheack {
  overflow: hidden;
  width: 100%;
  height: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background: -o-radial-gradient(top left, circle, transparent 1.5rem, rgba(255, 255, 255, 0.8) 0) top left, -o-radial-gradient(top right, circle, transparent 1.5rem, rgba(255, 255, 255, 0.8) 0) top right, -o-radial-gradient(bottom right, circle, transparent 1.5rem, rgba(255, 255, 255, 0.8) 0) bottom right, -o-radial-gradient(bottom left, circle, transparent 1.5rem, rgba(255, 255, 255, 0.8) 0) bottom left;
  background: radial-gradient(circle at top left, transparent 1.5rem, rgba(255, 255, 255, 0.8) 0) top left, radial-gradient(circle at top right, transparent 1.5rem, rgba(255, 255, 255, 0.8) 0) top right, radial-gradient(circle at bottom right, transparent 1.5rem, rgba(255, 255, 255, 0.8) 0) bottom right, radial-gradient(circle at bottom left, transparent 1.5rem, rgba(255, 255, 255, 0.8) 0) bottom left;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 99;
  margin-top: 0.5rem;
  text-align: center;
}

.boxA .header .cheack div {
  margin-top: 1rem;
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
}

.boxA .header .cheack div a {
  width: auto;
  font-size: 1.8rem;
  display: inline-block;
  margin: 0.5rem 1rem;
  text-align: center;
}

.boxA .header .cheack div a span {
  position: relative;
  color: #000000;
  border-bottom: 0.2rem solid;
}

.boxA .header .cheack div a span::before {
  content: '';
  position: absolute;
  bottom: -0.2rem;
  left: 0;
  width: 100%;
  height: 0.2rem;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background: -webkit-gradient(linear, left top, right top, from(#ffe600e5), to(#00ffaa));
  background: -o-linear-gradient(left, #ffe600e5, #00ffaa);
  background: linear-gradient(90deg, #ffe600e5, #00ffaa);
  background-size: 0 0.2rem;
  background-repeat: no-repeat;
  background-position: 50% bottom;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
}

.boxA .header .cheack div a span:hover::before {
  background-size: 100% 0.2rem;
}

.boxA .header .cheack .che3 .BG {
  display: inline-block;
  width: 14rem;
  height: 7.6rem;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  margin-bottom: 1rem;
}

.boxA .header .cheack .che3 .BG::before {
  content: '';
  position: absolute;
  bottom: -1rem;
  left: 0;
  width: 100%;
  height: 0.2rem;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background: -webkit-gradient(linear, left top, right top, from(#0084ffe5), to(#00ffaa));
  background: -o-linear-gradient(left, #0084ffe5, #00ffaa);
  background: linear-gradient(90deg, #0084ffe5, #00ffaa);
  background-size: 0 0.2rem;
  background-repeat: no-repeat;
  background-position: 50% bottom;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
}

.boxA .header .cheack .che3 .BG:hover::before {
  background-size: 100% 0.2rem;
}

.boxA .header .cheack .che3 .BG img {
  width: 7rem;
  height: 7rem;
  vertical-align: top;
  image-rendering: -webkit-optimize-contrast;
  position: absolute;
  padding: 0.5rem;
  pointer-events: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
}

.boxA .header .cheack .che3 .BG img:nth-child(2) {
  width: 7.6rem;
  height: 7.6rem;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.boxA .header .cheack .che3 .BG p {
  position: absolute;
  font-size: 1.3rem;
  bottom: -1rem;
  color: #000000;
  bottom: -1rem;
  right: 0;
  left: 0;
  margin: 0 auto;
  pointer-events: auto;
}

@media screen and (max-width: 800px) {
  .boxA .header {
    width: 90%;
  }
}
