html {
    font-size: 10px;
}
@mixin ras($a: 100%, $b: 100%) {
    width: $a;
    height: $b;
}
@mixin taxian {
    &::before,
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}
.boxA {
    @include ras(100%,auto);
    padding: 1rem 0;
    box-sizing: border-box;
    input {
        display: none;
    }
    .header {
        @include ras(60%, 5rem);
        @include taxian;
        position: relative;
        max-width: 110rem;
        margin: 0 auto;
        #a:checked ~ {
            .top {
                .top-name {
                    &:nth-child(1) {
                        color: #ffffff;
                        text-shadow: 0 0 0.5rem #000000;
                    }
                }
            }
            .cheack {
                height: 20rem;
                .che {
                    display: none;
                }
                .che1 {
                    display: block;
                    opacity: 1;
                }
            }
        }
        #n:checked ~ {
            .top {
                .top-name {
                    &:nth-child(2) {
                        color: #ffffff;
                        text-shadow: 0 0 0.5rem #000000;
                    }
                }
            }
            .cheack {
                height: 20rem;
                .che {
                    display: none;
                }
                .che2 {
                    display: block;
                    opacity: 1;
                }
            }
        }
        #s:checked ~ {
            .top {
                .top-name {
                    &:nth-child(3) {
                        color: #ffffff;
                        text-shadow: 0 0 0.5rem #000000;
                    }
                }
            }
            .cheack {
                height: 20rem;
                .che {
                    display: none;
                }
                .che3 {
                    display: block;
                    opacity: 1;
                }
            }
        }
        .top {
            display: flex;
            @include ras(100%, 5rem);
            background: rgba(255, 255, 255, 0.8);
            background-size: 50% 50%;
            clip-path: polygon(5% 0%, 95% 0%, 100% 50%, 95% 100%, 5% 100%, 0% 50%);
            position: relative;
            z-index: 999;
            margin: 0 auto;
            .top-name {
                @include ras(4rem, 5rem);
                font: bold 2rem/2rem Microsoft YaHei UI Light;
                flex: none;
                line-height: 5rem;
                padding: 0 1rem;
                &:nth-child(1) {
                    margin-left: 5%;
                }
                &:nth-child(4) {
                    flex: auto;
                    text-align: right;
                    margin-right: 5%;
                    a {
                        color: rgb(212, 0, 0);
                    }
                }
            }
        }
        .cheack {
            overflow: hidden;
            @include ras(100%, 0);
            transition: 0.5s;
            background: radial-gradient(circle at top left, transparent 1.5rem, rgba(255, 255, 255,.8) 0) top left,
                radial-gradient(circle at top right, transparent 1.5rem, rgba(255, 255, 255,.8) 0) top right,
                radial-gradient(circle at bottom right, transparent 1.5rem, rgba(255, 255, 255,.8) 0) bottom right,
                radial-gradient(circle at bottom left, transparent 1.5rem, rgba(255, 255, 255,.8) 0) bottom left;
            background-size: 50% 50%;
            background-repeat: no-repeat;
            position: absolute;
            z-index: 99;
            margin-top: 0.5rem;
            text-align: center;
            div {
                margin-top: 1rem;
                opacity: 0;
                transition: 0.5s;
                display: block;
                position: absolute;
                right: 0;
                left: 0;
                margin: 0 auto;
                a {
                    width: auto;
                    font-size: 1.8rem;
                    display: inline-block;
                    margin: 0.5rem 0;
                    text-align: center;
                    span {
                        position: relative;
                        color: #000000;
                        &::before {
                            content: '';
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            height: 0.2rem;
                            transition: 0.5s;
                            background: linear-gradient(90deg, #0084ffe5, rgb(0, 255, 170));
                            background-size: 0 0.2rem;
                            background-repeat: no-repeat;
                            background-position: 50% bottom;
                            transition: 0.5s all;
                        }

                        &:hover::before {
                            background-size: 100% 0.2rem;
                        }
                    }
                }
            }
        }
    }
}

@media screen and(max-width:800px) {
    .boxA {
        .header {
            width: 90%;
        }
    }
}
