html {
    font-size: 10px;
}
@mixin ras($a: 100%, $b: 100%) {
    width: $a;
    height: $b;
}
@mixin taxian {
    &::before,
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}
.box {
    @include ras;
    .td {
        @include ras;
        padding-top: 2rem;
            section {
            position: relative;
            @include ras(80%, 100%);
            margin: 0 auto;
            margin-top: 5rem;
            @include taxian;
            display: flex;
            flex-wrap: wrap;
            padding: 0 1.5rem 1rem 0;
        .L {
                @include ras(auto, 3rem);
                position: absolute;
                top: -3rem;
                font: 2rem/3rem 'Orbitron', sans-serif;
                text-align: center;
                color: #0077ff;
            }
            .img {
                display: block;
                @include ras(6rem, 7.5rem);
                border: 1px solid #ffd06f;
                margin: 1rem 0 0 1.5rem;
                img {
                    @include ras(100%, auto);
                    vertical-align: top;
                    image-rendering: -webkit-optimize-contrast;
                }
                p {
                    line-height: 1.4;
                    text-align: center;
                    font-size: 1.2rem;
                    color: #fff;
                }
            }
        }
        .td-1 {
            background-color: #db454a;
        }
        .td-2 {
            background-color: #5145c7;
        }
        .td-3 {
            background-color: #3a75a0;
        }
        .td-4 {
            background-color: #9e8d75;
        }
    }
}