html {
    font-size: 10px;
}
@mixin ras($a: 100%, $b: 100%) {
    width: $a;
    height: $b;
}
@mixin taxian {
    &::before,
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}
.box {
    @include ras;
    margin: 1rem auto;
    input {
        display: none;
        &:nth-child(n + 2):checked ~ {
            .box2 {
                .attribute {
                    li {
                        &:nth-child(1) {
                            .atb {
                                color: rgb(0, 0, 0);
                                text-shadow: none;
                            }
                        }
                    }
                }
            }
        }
    }
    #atb:checked ~ {
        .box2 {
            .attribute {
                li {
                    &:nth-child(1) {
                        .atb:nth-child(1) {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    #atb1:checked ~ {
        .td {
            section {
                .img {
                    display: none;
                }
                .fire {
                    display: block;
                }
            }
        }
        .box2 {
            .attribute {
                li {
                    &:nth-child(2) {
                        .atb {
                            color: #fff;
                            text-shadow: 0 0 1rem #ff4000;
                        }
                    }
                }
            }
        }
    }
    #atb2:checked ~ {
        .td {
            section {
                .img {
                    display: none;
                }
                .water {
                    display: block;
                }
            }
        }
        .box2 {
            .attribute {
                li {
                    &:nth-child(3) {
                        .atb {
                            color: #fff;
                            text-shadow: 0 0 1rem #00aaff;
                        }
                    }
                }
            }
        }
    }
    #atb3:checked ~ {
        .td {
            section {
                .img {
                    display: none;
                }
                .land {
                    display: block;
                }
            }
        }
        .box2 {
            .attribute {
                li {
                    &:nth-child(4) {
                        .atb {
                            color: #fff;
                            text-shadow: 0 0 1rem #99511e;
                        }
                    }
                }
            }
        }
    }
    #atb4:checked ~ {
        .td {
            section {
                .img {
                    display: none;
                }
                .wind {
                    display: block;
                }
            }
        }
        .box2 {
            .attribute {
                li {
                    &:nth-child(5) {
                        .atb {
                            color: #fff;
                            text-shadow: 0 0 1rem #15ff00;
                        }
                    }
                }
            }
        }
    }
    #atb5:checked ~ {
        .td {
            section {
                .img {
                    display: none;
                }
                .Light {
                    display: block;
                }
            }
        }
        .box2 {
            .attribute {
                li {
                    &:nth-child(6) {
                        .atb {
                            color: #fff;
                            text-shadow: 0 0 1rem #f7ea00;
                        }
                    }
                }
            }
        }
    }
    #atb6:checked ~ {
        .td {
            section {
                .img {
                    display: none;
                }
                .dark {
                    display: block;
                }
            }
        }
        .box2 {
            .attribute {
                li {
                    &:nth-child(7) {
                        .atb {
                            color: #fff;
                            text-shadow: 0 0 1rem #5100ff;
                        }
                    }
                }
            }
        }
    }

    #atb7:checked ~ {
        .td {
            section {
                .img {
                    display: none;
                }
                .Warrior {
                    display: block;
                }
            }
        }
        .box2 {
            .attribute {
                li {
                    &:nth-child(1) {
                        .atb1 {
                            color: #fff;
                            text-shadow: 0 0 0.5rem #000000;
                        }
                    }
                }
            }
        }
    }
    #atb8:checked ~ {
        .td {
            section {
                .img {
                    display: none;
                }
                .guard {
                    display: block;
                }
            }
        }
        .box2 {
            .attribute {
                li {
                    &:nth-child(2) {
                        .atb1 {
                            color: #fff;
                            text-shadow: 0 0 0.5rem #000000;
                        }
                    }
                }
            }
        }
    }
    #atb9:checked ~ {
        .td {
            section {
                .img {
                    display: none;
                }
                .Sniper {
                    display: block;
                }
            }
        }
        .box2 {
            .attribute {
                li {
                    &:nth-child(3) {
                        .atb1 {
                            color: #fff;
                            text-shadow: 0 0 0.5rem #000000;
                        }
                    }
                }
            }
        }
    }
    #atb10:checked ~ {
        .td {
            section {
                .img {
                    display: none;
                }
                .Sorcerer {
                    display: block;
                }
            }
        }
        .box2 {
            .attribute {
                li {
                    &:nth-child(4) {
                        .atb1 {
                            color: #fff;
                            text-shadow: 0 0 0.5rem #000000;
                        }
                    }
                }
            }
        }
    }
    #atb11:checked ~ {
        .td {
            section {
                .img {
                    display: none;
                }
                .Healer {
                    display: block;
                }
            }
        }
        .box2 {
            .attribute {
                li {
                    &:nth-child(5) {
                        .atb1 {
                            color: #fff;
                            text-shadow: 0 0 0.5rem #000000;
                        }
                    }
                }
            }
        }
    }
    #atb12:checked ~ {
        .td {
            section {
                .img {
                    display: none;
                }
                .assassin {
                    display: block;
                }
            }
        }
        .box2 {
            .attribute {
                li {
                    &:nth-child(6) {
                        .atb1 {
                            color: #fff;
                            text-shadow: 0 0 0.5rem #000000;
                        }
                    }
                }
            }
        }
    }
    #atb13:checked ~ {
        .td {
            section {
                .img {
                    display: none;
                }
                .sup {
                    display: block;
                }
            }
        }
        .box2 {
            .attribute {
                li {
                    &:nth-child(7) {
                        .atb1 {
                            color: #fff;
                            text-shadow: 0 0 0.5rem #000000;
                        }
                    }
                }
            }
        }
    }
    .box1 {
        @include ras(80%,100%);
        margin: auto;
        margin-bottom: 2rem;
        text-align: center;
        p {
            color: rgb(221, 209, 209);
            text-shadow: 0.1rem 0.1rem 0.1rem rgb(255, 0, 0);
            &:nth-child(1) {
                font-size: 2.5rem;
            }
            &:nth-child(2),
            &:nth-child(3) {
                font-size: 2rem;
            }
            &:nth-child(4) {
                font-size: 2rem;
                margin-top: 1rem;
                a {
                    color: #28b496;
                    text-shadow: 0.1rem 0.1rem 1rem rgb(0, 0, 0);
                }
            }
            span {
                color: red;
                font-size: 2.5rem;
                font-weight: bold；;
            }
        }
    }
    .box2 {
        @include ras(auto, 100%);
        .attribute {
            text-align: center;
            font-size: 0;
            .All {
                display: block;
                margin: 0 auto;
            }
            li {
                display: inline-block;
                @include ras(11.5rem, auto);
                background: url(1.png) no-repeat, url(3.png) no-repeat right, url(2.png);
                background-size: auto 100%;
                margin: 1rem 0.8rem;
                text-align: center;
                vertical-align: top;
                border-radius: 0.8rem;
                font-size: 0;
                &:active {
                    transform: perspective(10rem) translateZ(-0.2rem);
                    font-size: 0;
                }
                &:nth-child(1) {
                    .atb:nth-child(1) {
                        color: #fff;
                        text-shadow: 0 0 0.5rem #000000;
                    }
                }
                label {
                    display: inline-block;
                    @include ras(11.5rem, 3.1rem);
                    line-height: 3.1rem;
                    font-size: 1.8rem;
                    font-weight: bold;
                    letter-spacing: 0.1rem;
                }
            }
        }
    }
    .box3 {
        @extend .box2;
    }
    .td {
        @include ras;
        section {
            * {
                box-sizing: border-box;
            }
            position: relative;
            @include ras(80%, 100%);
            margin: 0 auto;
            margin-top: 5rem;
            min-height: 8.7rem;
            padding: 1rem 0 0 1rem;
            display: grid;
            justify-content: space-between;
            grid-template-columns: repeat(auto-fill, 70px);
            .L {
                @include ras(auto, 3rem);
                position: absolute;
                top: -3rem;
                font: 2rem/3rem 'Orbitron', sans-serif;
                text-align: center;
                color: #0077ff;
            }
            .img {
                display: block;
                @include ras(6.2rem, 7.6rem);
                border: 1px solid #ffd06f;
                margin-bottom: 1rem;
                img {
                    @include ras(100%, auto);
                    vertical-align: top;
                    image-rendering: -webkit-optimize-contrast;
                }
                p {
                    line-height: 1.4;
                    text-align: center;
                    font-size: 1.2rem;
                    color: #fff;
                }
            }
        }
        .td-1 {
            background-color: #db454a;
        }
        .td-2 {
            background-color: #5145c7;
        }
        .td-3 {
            background-color: #3a75a0;
        }
        .td-4 {
            background-color: #9e8d75;
        }
    }
}
