html {
  font-size: 10px;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  background: url(bg0.png) no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.box {
  width: 100% auto;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 4rem;
  margin: 0 auto;
}

.box input {
  display: none;
}

.box input:nth-child(n + 2):checked ~ .box2 .attribute li:nth-child(1) .atb, .box input:nth-child(n + 2):checked ~ .box3 .attribute li:nth-child(1) .atb {
  color: black;
  text-shadow: none;
}

.box #atb:checked ~ .box2 .attribute li:nth-child(1) .atb:nth-child(1), .box #atb:checked ~ .box3 .attribute li:nth-child(1) .atb:nth-child(1) {
  background: url(t2.png);
  background-size: auto 100%;
  width: 11.5rem;
  height: 3.2rem;
  color: #fff;
  text-shadow: 0 0 0.5rem #000000;
}

.box #atb1:checked ~ .td section .img,
.box #atb1:checked ~ .td section .tc1 {
  display: none;
}

.box #atb1:checked ~ .td section .fire {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box #atb1:checked ~ .td section .fire1 {
  display: block;
}

.box #atb1:checked ~ .box2 .attribute li:nth-child(2) .atb, .box #atb1:checked ~ .box3 .attribute li:nth-child(2) .atb {
  background: url(t2.png);
  background-size: auto 100%;
  width: 11.5rem;
  height: 3.2rem;
  color: #fff;
  text-shadow: 0 0 1rem #ff4000;
}

.box #atb2:checked ~ .td section .img,
.box #atb2:checked ~ .td section .tc1 {
  display: none;
}

.box #atb2:checked ~ .td section .water {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box #atb2:checked ~ .td section .water1 {
  display: block;
}

.box #atb2:checked ~ .box2 .attribute li:nth-child(3) .atb, .box #atb2:checked ~ .box3 .attribute li:nth-child(3) .atb {
  background: url(t2.png);
  background-size: auto 100%;
  width: 11.5rem;
  height: 3.2rem;
  color: #fff;
  text-shadow: 0 0 1rem #00aaff;
}

.box #atb3:checked ~ .td section .img,
.box #atb3:checked ~ .td section .tc1 {
  display: none;
}

.box #atb3:checked ~ .td section .land {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box #atb3:checked ~ .td section .land1 {
  display: block;
}

.box #atb3:checked ~ .box2 .attribute li:nth-child(4) .atb, .box #atb3:checked ~ .box3 .attribute li:nth-child(4) .atb {
  background: url(t2.png);
  background-size: auto 100%;
  width: 11.5rem;
  height: 3.2rem;
  color: #fff;
  text-shadow: 0 0 1rem #99511e;
}

.box #atb4:checked ~ .td section .img,
.box #atb4:checked ~ .td section .tc1 {
  display: none;
}

.box #atb4:checked ~ .td section .wind {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box #atb4:checked ~ .td section .wind1 {
  display: block;
}

.box #atb4:checked ~ .box2 .attribute li:nth-child(5) .atb, .box #atb4:checked ~ .box3 .attribute li:nth-child(5) .atb {
  background: url(t2.png);
  background-size: auto 100%;
  width: 11.5rem;
  height: 3.2rem;
  color: #fff;
  text-shadow: 0 0 1rem #15ff00;
}

.box #atb5:checked ~ .td section .img,
.box #atb5:checked ~ .td section .tc1 {
  display: none;
}

.box #atb5:checked ~ .td section .Light {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box #atb5:checked ~ .td section .Light1 {
  display: block;
}

.box #atb5:checked ~ .box2 .attribute li:nth-child(6) .atb, .box #atb5:checked ~ .box3 .attribute li:nth-child(6) .atb {
  background: url(t2.png);
  background-size: auto 100%;
  width: 11.5rem;
  height: 3.2rem;
  color: #fff;
  text-shadow: 0 0 1rem #f7ea00;
}

.box #atb6:checked ~ .td section .img,
.box #atb6:checked ~ .td section .tc1 {
  display: none;
}

.box #atb6:checked ~ .td section .dark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box #atb6:checked ~ .td section .dark1 {
  display: block;
}

.box #atb6:checked ~ .box2 .attribute li:nth-child(7) .atb, .box #atb6:checked ~ .box3 .attribute li:nth-child(7) .atb {
  background: url(t2.png);
  background-size: auto 100%;
  width: 11.5rem;
  height: 3.2rem;
  color: #fff;
  text-shadow: 0 0 1rem #5100ff;
}

.box #atb0:checked ~ .td section .img,
.box #atb0:checked ~ .td section .tc1 {
  display: none;
}

.box #atb0:checked ~ .td section .activity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box #atb0:checked ~ .td section .activity1 {
  display: block;
}

.box #atb0:checked ~ .box2 .attribute li:nth-child(8) .atb, .box #atb0:checked ~ .box3 .attribute li:nth-child(8) .atb {
  background: url(t2.png);
  background-size: auto 100%;
  width: 11.5rem;
  height: 3.2rem;
  color: #fff;
  text-shadow: 0 0 0.5rem #000000;
}

.box #atb7:checked ~ .td section .img,
.box #atb7:checked ~ .td section .tc1 {
  display: none;
}

.box #atb7:checked ~ .td section .Warrior {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box #atb7:checked ~ .td section .Warrior1 {
  display: block;
}

.box #atb7:checked ~ .box2 .attribute li:nth-child(1) .atb1, .box #atb7:checked ~ .box3 .attribute li:nth-child(1) .atb1 {
  background: url(t2.png);
  background-size: auto 100%;
  width: 11.5rem;
  height: 3.2rem;
  color: #fff;
  text-shadow: 0 0 0.5rem #000000;
}

.box #atb8:checked ~ .td section .img,
.box #atb8:checked ~ .td section .tc1 {
  display: none;
}

.box #atb8:checked ~ .td section .guard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box #atb8:checked ~ .td section .guard1 {
  display: block;
}

.box #atb8:checked ~ .box2 .attribute li:nth-child(2) .atb1, .box #atb8:checked ~ .box3 .attribute li:nth-child(2) .atb1 {
  background: url(t2.png);
  background-size: auto 100%;
  width: 11.5rem;
  height: 3.2rem;
  color: #fff;
  text-shadow: 0 0 0.5rem #000000;
}

.box #atb9:checked ~ .td section .img,
.box #atb9:checked ~ .td section .tc1 {
  display: none;
}

.box #atb9:checked ~ .td section .Sniper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box #atb9:checked ~ .td section .Sniper1 {
  display: block;
}

.box #atb9:checked ~ .box2 .attribute li:nth-child(3) .atb1, .box #atb9:checked ~ .box3 .attribute li:nth-child(3) .atb1 {
  background: url(t2.png);
  background-size: auto 100%;
  width: 11.5rem;
  height: 3.2rem;
  color: #fff;
  text-shadow: 0 0 0.5rem #000000;
}

.box #atb10:checked ~ .td section .img,
.box #atb10:checked ~ .td section .tc1 {
  display: none;
}

.box #atb10:checked ~ .td section .Sorcerer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box #atb10:checked ~ .td section .Sorcerer1 {
  display: block;
}

.box #atb10:checked ~ .box2 .attribute li:nth-child(4) .atb1, .box #atb10:checked ~ .box3 .attribute li:nth-child(4) .atb1 {
  background: url(t2.png);
  background-size: auto 100%;
  width: 11.5rem;
  height: 3.2rem;
  color: #fff;
  text-shadow: 0 0 0.5rem #000000;
}

.box #atb11:checked ~ .td section .img,
.box #atb11:checked ~ .td section .tc1 {
  display: none;
}

.box #atb11:checked ~ .td section .Healer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box #atb11:checked ~ .td section .Healer1 {
  display: block;
}

.box #atb11:checked ~ .box2 .attribute li:nth-child(5) .atb1, .box #atb11:checked ~ .box3 .attribute li:nth-child(5) .atb1 {
  background: url(t2.png);
  background-size: auto 100%;
  width: 11.5rem;
  height: 3.2rem;
  color: #fff;
  text-shadow: 0 0 0.5rem #000000;
}

.box #atb12:checked ~ .td section .img,
.box #atb12:checked ~ .td section .tc1 {
  display: none;
}

.box #atb12:checked ~ .td section .assassin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box #atb12:checked ~ .td section .assassin1 {
  display: block;
}

.box #atb12:checked ~ .box2 .attribute li:nth-child(6) .atb1, .box #atb12:checked ~ .box3 .attribute li:nth-child(6) .atb1 {
  background: url(t2.png);
  background-size: auto 100%;
  width: 11.5rem;
  height: 3.2rem;
  color: #fff;
  text-shadow: 0 0 0.5rem #000000;
}

.box #atb13:checked ~ .td section .img,
.box #atb13:checked ~ .td section .tc1 {
  display: none;
}

.box #atb13:checked ~ .td section .sup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box #atb13:checked ~ .td section .sup1 {
  display: block;
}

.box #atb13:checked ~ .box2 .attribute li:nth-child(7) .atb1, .box #atb13:checked ~ .box3 .attribute li:nth-child(7) .atb1 {
  background: url(t2.png);
  background-size: auto 100%;
  width: 11.5rem;
  height: 3.2rem;
  color: #fff;
  text-shadow: 0 0 0.5rem #000000;
}

.box #at1:checked ~ .t1 {
  display: block;
}

.box #at1:checked ~ .t2 {
  display: none;
}

.box #at1:checked ~ .box2 .attribute li:nth-child(1) .at, .box #at1:checked ~ .box3 .attribute li:nth-child(1) .at {
  background: url(t2.png);
  background-size: auto 100%;
  width: 11.5rem;
  height: 3.2rem;
  color: #fff;
  text-shadow: 0 0 0.5rem #000000;
}

.box #at2:checked ~ .t1 {
  display: block;
}

.box #at2:checked ~ .t1 {
  display: none;
}

.box #at2:checked ~ .box2 .attribute li:nth-child(1) .at, .box #at2:checked ~ .box3 .attribute li:nth-child(1) .at {
  color: black;
  text-shadow: none;
}

.box #at2:checked ~ .box2 .attribute li:nth-child(2) .at, .box #at2:checked ~ .box3 .attribute li:nth-child(2) .at {
  background: url(t2.png);
  background-size: auto 100%;
  width: 11.5rem;
  height: 3.2rem;
  color: #fff;
  text-shadow: 0 0 0.5rem #000000;
}

.box .box1 {
  width: 80%;
  height: auto;
  margin: auto;
  text-align: center;
}

.box .box1 p {
  width: 11.5rem;
  height: 3.2rem;
  background: url(t1.png);
  background-size: auto 100%;
  margin: 0 auto;
}

.box .box1 p a {
  line-height: 3.2rem;
  font-size: 2rem;
  color: #000000;
  font-weight: bold;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.box .box2, .box .box3 {
  width: auto;
  height: auto;
}

.box .box2 *, .box .box3 * {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.box .box2 .attribute, .box .box3 .attribute {
  text-align: center;
  font-size: 0;
}

.box .box2 .attribute .All, .box .box3 .attribute .All {
  display: block;
  margin: 0 auto;
}

.box .box2 .attribute .at1:nth-child(1), .box .box3 .attribute .at1:nth-child(1) {
  color: #fff;
  text-shadow: 0 0 0.5rem #000000;
}

.box .box2 .attribute li, .box .box3 .attribute li {
  display: inline-block;
  width: 11.5rem;
  height: 3.2rem;
  background: url(t1.png);
  background-size: auto 100%;
  margin: 1rem 0.8rem;
  text-align: center;
  vertical-align: top;
  font-size: 0;
}

.box .box2 .attribute li:active, .box .box3 .attribute li:active {
  -webkit-transform: perspective(10rem) translateZ(-0.1rem);
          transform: perspective(10rem) translateZ(-0.1rem);
  font-size: 0;
}

.box .box2 .attribute li:nth-child(1) .atb:nth-child(1), .box .box3 .attribute li:nth-child(1) .atb:nth-child(1) {
  color: #fff;
  text-shadow: 0 0 0.5rem #000000;
}

.box .box2 .attribute li label, .box .box3 .attribute li label {
  display: inline-block;
  width: 11.5rem;
  height: 3.2rem;
  line-height: 3.2rem;
  font-size: 1.8rem;
  font-weight: bold;
}

.box .box2 .attribute li label span, .box .box3 .attribute li label span {
  width: 4rem;
  height: 3.2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.box .box2 .attribute li label span img, .box .box3 .attribute li label span img {
  width: auto;
  height: 3.2rem;
  vertical-align: top;
  image-rendering: -webkit-optimize-contrast;
  pointer-events: none;
}

.box .td {
  width: 100%;
  height: auto;
}

.box .td section {
  position: relative;
  width: 80%;
  height: auto;
  margin: 0 auto;
  margin-top: 5rem;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: (7.6rem)[auto-fill];
      grid-template-columns: repeat(auto-fill, 7.6rem);
}

.box .td section * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.box .td section .L {
  width: auto;
  height: 3rem;
  position: absolute;
  top: -3rem;
  font: 2rem/3rem 'Orbitron', sans-serif;
  text-align: center;
  color: #000000;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.box .td section .L span img {
  width: auto;
  height: 3rem;
  vertical-align: top;
  image-rendering: -webkit-optimize-contrast;
}

.box .td section .img {
  display: block;
  width: 7.6rem;
  height: 7.6rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.box .td section .img img {
  width: 7rem;
  height: 7rem;
  vertical-align: top;
  image-rendering: -webkit-optimize-contrast;
  position: absolute;
  padding: 0.5rem;
  pointer-events: auto;
}

.box .td section .img img:nth-child(2) {
  width: 7.6rem;
  height: 7.6rem;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.box .td section .img p {
  font-size: 1.3rem;
  color: #fff;
}

.box .td .td-1, .box .td .td-2, .box .td .td-3, .box .td .td-4 {
  border-radius: 1.5rem;
  background: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0 0 1rem 0.2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 1rem 0.2rem rgba(0, 0, 0, 0.2);
  position: relative;
}

.box .td .td-1::before, .box .td .td-2::before, .box .td .td-3::before, .box .td .td-4::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.box .t1 {
  padding-bottom: 2rem;
}

.box .t2 {
  padding-bottom: 2rem;
}

.box .t2 section {
  min-height: 1rem;
  -ms-grid-columns: (12.5rem)[auto-fill];
      grid-template-columns: repeat(auto-fill, 12.5rem);
  width: 80%;
  height: auto;
}

.box .t2 section .tc1 {
  width: 12.5rem;
  font-size: 0;
  padding: 0.8rem 0.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.box .t2 section .tc1 .tc3 {
  height: 2rem;
  font-size: 1.5rem;
  color: #0960e2;
  border-top: 2px solid #ffaa00;
  text-align: center;
  pointer-events: none;
  line-height: 1.8rem;
}

.box .t2 section .tc1 .tc2 {
  height: 6.4rem;
  pointer-events: none;
  font-size: 1.4rem;
  color: #000000;
  border: 2px solid #ffaa00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  white-space: pre-line;
}

.box .t2 section .tc1 .img {
  display: block;
  width: 6.8rem;
  height: 6.8rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.box .t2 section .tc1 .img img {
  width: 6.2rem;
  height: 6.2rem;
  vertical-align: top;
  image-rendering: -webkit-optimize-contrast;
  position: absolute;
  padding: 0;
}

.box .t2 section .tc1 .img img:nth-child(2) {
  width: 6.8rem;
  height: 6.8rem;
}

.box .t2 section .L {
  font-weight: bold;
  font-size: 1.9rem;
}

.box .t2 .t2-1 {
  border-radius: 1.5rem;
  background: rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0 0 1rem 0.2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 1rem 0.2rem rgba(0, 0, 0, 0.2);
  position: relative;
}

.box .t2 .t2-1::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}
