html {
    font-size: 10px;
    &::-webkit-scrollbar {
        display: none;
    }
}
@mixin ras($a: 100%, $b: 100%) {
    width: $a;
    height: $b;
}
@mixin taxian {
    &::before,
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}
body {
    background: url(bg0.png) no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}
.box {
    @include ras(100% auto);
    box-sizing: border-box;
    padding-top: 2rem;
    margin: 0 auto;
    input {
        display: none;
        &:nth-child(n + 2):checked ~ {
            .box2 {
                .attribute {
                    li {
                        &:nth-child(1) {
                            .atb {
                                color: rgb(0, 0, 0);
                                text-shadow: none;
                            }
                        }
                    }
                }
            }
        }
    }
    #atb:checked ~ {
        .box2 {
            .attribute {
                li {
                    &:nth-child(1) {
                        .atb:nth-child(1) {
                            background: url(t2.png);
                            background-size: auto 100%;
                            @include ras(11.5rem, 3.2rem);
                            color: #fff;
                            text-shadow: 0 0 0.5rem #000000;
                        }
                    }
                }
            }
        }
    }
    #atb1:checked ~ {
        .td {
            section {
                .img,
                .tc1 {
                    display: none;
                }
                .fire {
                    display: flex;
                }
                .fire1 {
                    display: block;
                }
            }
        }
        .box2 {
            .attribute {
                li {
                    &:nth-child(2) {
                        .atb {
                            background: url(t2.png);
                            background-size: auto 100%;
                            @include ras(11.5rem, 3.2rem);
                            color: #fff;
                            text-shadow: 0 0 1rem #ff4000;
                        }
                    }
                }
            }
        }
    }
    #atb2:checked ~ {
        .td {
            section {
                .img,
                .tc1 {
                    display: none;
                }
                .water {
                    display: flex;
                }
                .water1 {
                    display: block;
                }
            }
        }
        .box2 {
            .attribute {
                li {
                    &:nth-child(3) {
                        .atb {
                            background: url(t2.png);
                            background-size: auto 100%;
                            @include ras(11.5rem, 3.2rem);
                            color: #fff;
                            text-shadow: 0 0 1rem #00aaff;
                        }
                    }
                }
            }
        }
    }
    #atb3:checked ~ {
        .td {
            section {
                .img,
                .tc1 {
                    display: none;
                }
                .land {
                    display: flex;
                }
                .land1 {
                    display: block;
                }
            }
        }
        .box2 {
            .attribute {
                li {
                    &:nth-child(4) {
                        .atb {
                            background: url(t2.png);
                            background-size: auto 100%;
                            @include ras(11.5rem, 3.2rem);
                            color: #fff;
                            text-shadow: 0 0 1rem #99511e;
                        }
                    }
                }
            }
        }
    }
    #atb4:checked ~ {
        .td {
            section {
                .img,
                .tc1 {
                    display: none;
                }
                .wind {
                    display: flex;
                }
                .wind1 {
                    display: block;
                }
            }
        }
        .box2 {
            .attribute {
                li {
                    &:nth-child(5) {
                        .atb {
                            background: url(t2.png);
                            background-size: auto 100%;
                            @include ras(11.5rem, 3.2rem);
                            color: #fff;
                            text-shadow: 0 0 1rem #15ff00;
                        }
                    }
                }
            }
        }
    }
    #atb5:checked ~ {
        .td {
            section {
                .img,
                .tc1 {
                    display: none;
                }
                .Light {
                    display: flex;
                }
                .Light1 {
                    display: block;
                }
            }
        }
        .box2 {
            .attribute {
                li {
                    &:nth-child(6) {
                        .atb {
                            background: url(t2.png);
                            background-size: auto 100%;
                            @include ras(11.5rem, 3.2rem);
                            color: #fff;
                            text-shadow: 0 0 1rem #f7ea00;
                        }
                    }
                }
            }
        }
    }
    #atb6:checked ~ {
        .td {
            section {
                .img,
                .tc1 {
                    display: none;
                }
                .dark {
                    display: flex;
                }
                .dark1 {
                    display: block;
                }
            }
        }
        .box2 {
            .attribute {
                li {
                    &:nth-child(7) {
                        .atb {
                            background: url(t2.png);
                            background-size: auto 100%;
                            @include ras(11.5rem, 3.2rem);
                            color: #fff;
                            text-shadow: 0 0 1rem #5100ff;
                        }
                    }
                }
            }
        }
    }

    #atb0:checked ~ {
        .td {
            section {
                .img,
                .tc1 {
                    display: none;
                }
                .activity {
                    display: flex;
                }
                .activity1 {
                    display: block;
                }
            }
        }
        .box2 {
            .attribute {
                li {
                    &:nth-child(8) {
                        .atb {
                            background: url(t2.png);
                            background-size: auto 100%;
                            @include ras(11.5rem, 3.2rem);
                            color: #fff;
                            text-shadow: 0 0 0.5rem #000000;
                        }
                    }
                }
            }
        }
    }

    #atb7:checked ~ {
        .td {
            section {
                .img,
                .tc1 {
                    display: none;
                }
                .Warrior {
                    display: flex;
                }
                .Warrior1 {
                    display: block;
                }
            }
        }
        .box2 {
            .attribute {
                li {
                    &:nth-child(1) {
                        .atb1 {
                            background: url(t2.png);
                            background-size: auto 100%;
                            @include ras(11.5rem, 3.2rem);
                            color: #fff;
                            text-shadow: 0 0 0.5rem #000000;
                        }
                    }
                }
            }
        }
    }
    #atb8:checked ~ {
        .td {
            section {
                .img,
                .tc1 {
                    display: none;
                }
                .guard {
                    display: flex;
                }
                .guard1 {
                    display: block;
                }
            }
        }
        .box2 {
            .attribute {
                li {
                    &:nth-child(2) {
                        .atb1 {
                            background: url(t2.png);
                            background-size: auto 100%;
                            @include ras(11.5rem, 3.2rem);
                            color: #fff;
                            text-shadow: 0 0 0.5rem #000000;
                        }
                    }
                }
            }
        }
    }
    #atb9:checked ~ {
        .td {
            section {
                .img,
                .tc1 {
                    display: none;
                }
                .Sniper {
                    display: flex;
                }
                .Sniper1 {
                    display: block;
                }
            }
        }
        .box2 {
            .attribute {
                li {
                    &:nth-child(3) {
                        .atb1 {
                            background: url(t2.png);
                            background-size: auto 100%;
                            @include ras(11.5rem, 3.2rem);
                            color: #fff;
                            text-shadow: 0 0 0.5rem #000000;
                        }
                    }
                }
            }
        }
    }
    #atb10:checked ~ {
        .td {
            section {
                .img,
                .tc1 {
                    display: none;
                }
                .Sorcerer {
                    display: flex;
                }
                .Sorcerer1 {
                    display: block;
                }
            }
        }
        .box2 {
            .attribute {
                li {
                    &:nth-child(4) {
                        .atb1 {
                            background: url(t2.png);
                            background-size: auto 100%;
                            @include ras(11.5rem, 3.2rem);
                            color: #fff;
                            text-shadow: 0 0 0.5rem #000000;
                        }
                    }
                }
            }
        }
    }
    #atb11:checked ~ {
        .td {
            section {
                .img,
                .tc1 {
                    display: none;
                }
                .Healer {
                    display: flex;
                }
                .Healer1 {
                    display: block;
                }
            }
        }
        .box2 {
            .attribute {
                li {
                    &:nth-child(5) {
                        .atb1 {
                            background: url(t2.png);
                            background-size: auto 100%;
                            @include ras(11.5rem, 3.2rem);
                            color: #fff;
                            text-shadow: 0 0 0.5rem #000000;
                        }
                    }
                }
            }
        }
    }
    #atb12:checked ~ {
        .td {
            section {
                .img,
                .tc1 {
                    display: none;
                }
                .assassin {
                    display: flex;
                }
                .assassin1 {
                    display: block;
                }
            }
        }
        .box2 {
            .attribute {
                li {
                    &:nth-child(6) {
                        .atb1 {
                            background: url(t2.png);
                            background-size: auto 100%;
                            @include ras(11.5rem, 3.2rem);
                            color: #fff;
                            text-shadow: 0 0 0.5rem #000000;
                        }
                    }
                }
            }
        }
    }
    #atb13:checked ~ {
        .td {
            section {
                .img,
                .tc1 {
                    display: none;
                }
                .sup {
                    display: flex;
                }
                .sup1 {
                    display: block;
                }
            }
        }
        .box2 {
            .attribute {
                li {
                    &:nth-child(7) {
                        .atb1 {
                            background: url(t2.png);
                            background-size: auto 100%;
                            @include ras(11.5rem, 3.2rem);
                            color: #fff;
                            text-shadow: 0 0 0.5rem #000000;
                        }
                    }
                }
            }
        }
    }
    #at1:checked ~ {
        .t1 {
            display: block;
        }
        .t2 {
            display: none;
        }
        .box2 {
            .attribute {
                li {
                    &:nth-child(1) {
                        .at {
                            background: url(t2.png);
                            background-size: auto 100%;
                            @include ras(11.5rem, 3.2rem);
                            color: #fff;
                            text-shadow: 0 0 0.5rem #000000;
                        }
                    }
                }
            }
        }
    }
    #at2:checked ~ {
        .t1 {
            display: block;
        }
        .t1 {
            display: none;
        }
        .box2 {
            .attribute {
                li {
                    &:nth-child(1) {
                        .at {
                            color: rgb(0, 0, 0);
                            text-shadow: none;
                        }
                    }
                    &:nth-child(2) {
                        .at {
                            background: url(t2.png);
                            background-size: auto 100%;
                            @include ras(11.5rem, 3.2rem);
                            color: #fff;
                            text-shadow: 0 0 0.5rem #000000;
                        }
                    }
                }
            }
        }
    }
    .box1 {
        @include ras(80%, auto);
        margin: auto;
        text-align: center;
        p {
            @include ras(11.5rem, 3.2rem);
            background: url(t1.png);
            background-size: auto 100%;
            margin: 0 auto;
            a {
                line-height: 3.2rem;
                font-size: 2rem;
                color: #000000;
                font-weight: bold;
                user-select: none;
            }
        }
    }
    .box2 {
        @include ras(auto, auto);
        * {
            user-select: none;
        }
        .attribute {
            text-align: center;
            font-size: 0;
            .All {
                display: block;
                margin: 0 auto;
            }
            .at1 {
                &:nth-child(1) {
                    color: #fff;
                    text-shadow: 0 0 0.5rem #000000;
                }
            }
            li {
                display: inline-block;
                @include ras(11.5rem, 3.2rem);
                background: url(t1.png);
                background-size: auto 100%;
                margin: 1rem 0.8rem;
                text-align: center;
                vertical-align: top;
                font-size: 0;
                &:active {
                    transform: translate(0) scale(0.94);
                }
                &:nth-child(1) {
                    .atb:nth-child(1) {
                        color: #fff;
                        text-shadow: 0 0 0.5rem #000000;
                    }
                }
                label {
                    display: inline-block;
                    @include ras(11.5rem, 3.2rem);
                    line-height: 3.2rem;
                    font-size: 1.8rem;
                    font-weight: bold;
                    span {
                        @include ras(4rem, 3.2rem);
                        user-select: none;
                        img {
                            @include ras(auto, 3.2rem);
                            vertical-align: top;
                            image-rendering: -webkit-optimize-contrast;
                            pointer-events: none;
                        }
                    }
                }
            }
        }
    }
    .box3 {
        @extend .box2;
    }
    .td {
        @include ras(100%, auto);
        section {
            * {
                box-sizing: border-box;
            }
            position: relative;
            @include ras(80%, auto);
            margin: 0 auto;
            margin-top: 5rem;
            display: grid;
            justify-content: space-between;
            grid-template-columns: repeat(auto-fill, 7.6rem);
            .L {
                @include ras(auto, 3rem);
                position: absolute;
                top: -3rem;
                font: 2rem/3rem 'Orbitron', sans-serif;
                text-align: center;
                color: #000000;
                user-select: none;
                span {
                    img {
                        @include ras(auto, 3rem);
                        vertical-align: top;
                        image-rendering: -webkit-optimize-contrast;
                    }
                }
            }
            .img {
                display: block;
                @include ras(7.6rem, 7.6rem);
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                user-select: none;
                pointer-events: none;
                margin-bottom: 1rem;
                max-width: 8rem;
                img {
                    @include ras(7rem, 7rem);
                    vertical-align: top;
                    image-rendering: -webkit-optimize-contrast;
                    position: absolute;
                    padding: 0.5rem;
                    pointer-events: auto;
                    &:nth-child(2) {
                        @include ras(7.6rem, 7.6rem);
                        pointer-events: none;
                        user-select: none;
                    }
                }
                p {
                    position: absolute;
                    font-size: 1.3rem;
                    bottom: -1rem;
                    color: #000000;
                    width: 8rem;
                    text-align: center;
                }
            }
        }
        .td-1 {
            border-radius: 1.5rem;
            background: rgba(255, 255, 255, 0.2);
            box-shadow: 0 0 1rem 0.2rem rgba(0, 0, 0, 0.2);
            position: relative;
            &::before {
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                z-index: -1;
                backdrop-filter: blur(2px);
            }
        }
        .td-2 {
            @extend .td-1;
        }
        .td-3 {
            @extend .td-1;
        }
        .td-4 {
            @extend .td-1;
        }
    }
    .t1 {
        padding-bottom: 2rem;
        section {
            min-height: 1rem;
        }
    }
    .t2 {
        padding-bottom: 2rem;
        section {
            min-height: 1rem;
            grid-template-columns: repeat(auto-fill, 12.5rem);
            @include ras(80%, auto);
            .tc1 {
                width: 12.5rem;
                font-size: 0;
                padding: 0.8rem 0.5rem;
                box-sizing: border-box;
                .tc3 {
                    height: 2rem;
                    font-size: 1.5rem;
                    color: #0960e2;
                    border-top: 2px solid #ffaa00;
                    text-align: center;
                    pointer-events: none;
                    line-height: 1.8rem;
                }
                .tc2 {
                    height: 6.4rem;
                    pointer-events: none;
                    font-size: 1.4rem;
                    color: #000000;
                    border: 2px solid #ffaa00;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    white-space: pre-line;
                }
                .img {
                    display: block;
                    @include ras(6.8rem, 6.8rem);
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 auto;
                    img {
                        @include ras(6.2rem, 6.2rem);
                        vertical-align: top;
                        image-rendering: -webkit-optimize-contrast;
                        position: absolute;
                        padding: 0;
                        &:nth-child(2) {
                            @include ras(6.8rem, 6.8rem);
                        }
                    }
                    p {
                        position: static;
                    }
                }
            }
            .L {
                font-weight: bold;
                font-size: 1.9rem;
            }
        }
        .t2-1 {
            border-radius: 1.5rem;
            background: rgba(255, 255, 255, 0.4);
            box-shadow: 0 0 1rem 0.2rem rgba(0, 0, 0, 0.2);
            position: relative;
            &::before {
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                z-index: -1;
                backdrop-filter: blur(4px);
            }
        }
    }
}
