@charset "UTF-8";
html {
  font-size: 10px;
}

body {
  font-size: 10px;
  background: url(https://monmusu-td.jp/_nuxt/img/opening_screen.09bbaaa.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.box {
  width: 100%;
  height: auto;
  padding-bottom: 3rem;
}

.box .box1 {
  width: 51.5rem;
  height: 29rem;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.box .box1 .back {
  position: absolute;
  left: 0;
  top: 0;
  width: 206.2rem;
  height: 28.3rem;
  font-size: 0;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  /* 初始位置位移 */
  -webkit-animation: loop 9s linear infinite;
          animation: loop 9s linear infinite;
}

.box .box1 .back img {
  width: auto;
  height: 100%;
  vertical-align: top;
  image-rendering: -webkit-optimize-contrast;
}

.box i {
  display: block;
  width: 100%;
  height: 0.2rem;
  background: #dbaaaa;
  margin: 3rem auto;
}

.box section {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box section span {
  width: 0.2rem;
  height: auto;
  background: #dbaaaa;
  margin: 0 2rem;
}

.box section .box2 {
  width: 60%;
  height: 100%;
  margin: 0 auto;
}

.box section .box2 p {
  font-size: 3rem;
  text-align: center;
  color: white;
  text-shadow: 0.5rem 0.5rem 0.5rem #0e0d0d;
}

.box section .box3 {
  width: 40%;
  height: 100%;
  color: white;
  font-size: 2rem;
  text-shadow: 0.5rem 0.5rem 0.5rem #0e0d0d;
  margin: 0 auto;
}

.box section .box3 p a {
  font-weight: bold;
}

.box section .box3 p a:visited {
  color: white;
}

.box section .direct {
  font-size: 2rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box section .direct div {
  margin: 0 1rem;
  position: relative;
}

.box section .direct div a {
  width: 15rem;
  height: 5rem;
  display: block;
  color: #404cfa;
  text-align: center;
  line-height: 5rem;
  font-weight: bold;
}

.box section .direct div a::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 5rem;
  -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-box-shadow: 0 0 1rem 0.2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 1rem 0.2rem rgba(0, 0, 0, 0.2);
  border: 2px solid #a7a7a7;
  border-radius: 5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: -1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  -o-transition: transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1);
}

.box section .direct div a:hover::after {
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1);
}

.box .box4 {
  width: 90%;
  height: 100%;
  margin: auto;
  text-align: center;
}

.box .box4 p {
  color: black;
  text-shadow: 0.5rem 0.5rem 0.5rem #575757;
}

.box .box4 p:nth-child(1) {
  font-size: 2.5rem;
}

.box .box4 p:nth-child(2), .box .box4 p:nth-child(3) {
  font-size: 2rem;
}

.box .box4 p:nth-child(4) {
  font-size: 2rem;
  margin-top: 1rem;
}

.box .box4 p span {
  color: #0047e0;
  font-size: 2.5rem;
  font-weight: bold；;
}

@-webkit-keyframes loop {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  10% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  /* 切换500ms 位移-20% */
  25% {
    -webkit-transform: translate(-25%, 0);
            transform: translate(-25%, 0);
  }
  35% {
    -webkit-transform: translate(-25%, 0);
            transform: translate(-25%, 0);
  }
  50% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  60% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  75% {
    -webkit-transform: translate(-75%, 0);
            transform: translate(-75%, 0);
  }
  90% {
    -webkit-transform: translate(-75%, 0);
            transform: translate(-75%, 0);
    opacity: 1;
  }
  95% {
    -webkit-transform: translate(-75%, 0);
            transform: translate(-75%, 0);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes loop {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  10% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  /* 切换500ms 位移-20% */
  25% {
    -webkit-transform: translate(-25%, 0);
            transform: translate(-25%, 0);
  }
  35% {
    -webkit-transform: translate(-25%, 0);
            transform: translate(-25%, 0);
  }
  50% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  60% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  75% {
    -webkit-transform: translate(-75%, 0);
            transform: translate(-75%, 0);
  }
  90% {
    -webkit-transform: translate(-75%, 0);
            transform: translate(-75%, 0);
    opacity: 1;
  }
  95% {
    -webkit-transform: translate(-75%, 0);
            transform: translate(-75%, 0);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 768px) {
  .box section .direct div a::after {
    -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
            transform: scaleY(1);
  }
}
