.box {
    width: 98%;
    .box1 {
        width: 100%;
        .tag {
            .panel{
                ul{
                    margin: 0;
                }
            }
            .pane2 {
                justify-content: center;
                ul {
                    width: auto;
                }
                .pa-2 {
                    width: 100%;
                }
            }
        }
    }
}
