html {
    font-size: 10px;
}
@mixin ras($a: 100%, $b: 100%) {
    width: $a;
    height: $b;
}
@mixin taxian {
    &::before,
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}
body {
    background: url(http://www.transparenttextures.com/patterns/fake-luxury.png) 50% 100%,
        url(../Activity/bg1.png) no-repeat center/cover;
    background-attachment: fixed;
    height: 100%;
    position: relative;
}
.boxA{
    position: relative;
    z-index: 9999;
}
.box {
    @include ras(75%, 100%);
    margin: auto;
    @include taxian();
    margin-bottom: 1rem;
    .box1 {
        @include ras(80%, 100%);
        margin: 0 auto;
        max-width: 100rem;
        .top {
            @include ras(9rem, 9rem);
            border: 4px solid #fafad2;
            position: relative;
            z-index: 99;
            overflow: hidden;
            border-radius: 2.5rem;
            box-sizing: border-box;
            img {
                @include ras(100%, auto);
                vertical-align: top;
                image-rendering: -webkit-optimize-contrast;
            }
        }
        .tag {
            @include ras(100%, auto);
            box-shadow: 0 0 1rem 0.3rem rgb(0, 0, 0);
            border: 4px solid #fafad2;
            margin-top: -0.2rem;
            background-color: #f3c07d;
            box-sizing: border-box;
            position: relative;
            .img {
                position: absolute;
                width: 4rem;
                height: 4rem;
                border: 2px solid #f3c07d;
                border-radius: 50%;
                z-index: 9999;
                right: 0;
                top: -5rem;
                span {
                    position: absolute;
                    width: 3rem;
                    height: 0.2rem;
                    background-color: rgb(197, 0, 0);
                    border-radius: 2rem;
                    left: 0.5rem;
                    &:nth-child(1) {
                        top: calc(50%);
                        transform: rotateZ(45deg);
                    }
                    &:nth-child(2) {
                        top: calc(50%);
                        transform: rotateZ(-45deg);
                    }
                }
            }
            input {
                display: none;
            }
            #lv1:checked ~ {
                .panel {
                    ul {
                        li {
                            .lv1 {
                                span {
                                    transform: rotateZ(3.142rad);
                                }
                            }
                        }
                        .lvb1 {
                            display: flex;
                        }
                    }
                }
            }
            #lv2:checked ~ {
                .panel {
                    ul {
                        li {
                            .lv2 {
                                span {
                                    transform: rotateZ(3.142rad);
                                }
                            }
                        }
                        .lvb2 {
                            display: flex;
                        }
                    }
                }
            }
            #lv7:checked ~ {
                .panel {
                    ul {
                        li {
                            .lv7 {
                                span {
                                    transform: rotateZ(3.142rad);
                                }
                            }
                        }
                        .lvb7 {
                            display: flex;
                        }
                    }
                }
            }
            #lv3:checked ~ {
                .pane2 {
                    ul {
                        li {
                            .lv3 {
                                span {
                                    transform: rotateZ(3.142rad);
                                }
                            }
                        }
                        .lvb3 {
                            display: flex;
                        }
                    }
                }
            }
            #lv4:checked ~ {
                .pane2 {
                    ul {
                        li {
                            .lv4 {
                                span {
                                    transform: rotateZ(3.142rad);
                                }
                            }
                        }
                        .lvb4 {
                            display: flex;
                        }
                    }
                }
            }
            #lv5:checked ~ {
                .pane2 {
                    ul {
                        li {
                            .lv5 {
                                span {
                                    transform: rotateZ(3.142rad);
                                }
                            }
                        }
                        .lvb5 {
                            display: flex;
                        }
                    }
                }
            }
            #lv6:checked ~ {
                .pane2 {
                    ul {
                        li {
                            .lv6 {
                                span {
                                    transform: rotateZ(3.142rad);
                                }
                            }
                        }
                        .lvb6 {
                            display: flex;
                        }
                    }
                }
            }
            #lv8:checked ~ {
                .pane2 {
                    ul {
                        li {
                            .lv8 {
                                span {
                                    transform: rotateZ(3.142rad);
                                }
                            }
                        }
                        .lvb8 {
                            display: flex;
                        }
                    }
                }
            }
            #lv9:checked ~ {
                .pane2 {
                    ul {
                        li {
                            .lv9 {
                                span {
                                    transform: rotateZ(3.142rad);
                                }
                            }
                        }
                        .lvb9 {
                            display: flex;
                        }
                    }
                }
            }
            .panel {
                @include ras(100%, auto);
                @include taxian;
                display: flex;
                flex-wrap: wrap;
                aside {
                    @include ras(6rem, auto);
                    border: 0.2rem solid #000;
                    margin: 1rem 0 0.5rem 0.5rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    span {
                        display: block;
                        font-size: 1.4rem;
                    }
                }
                ul {
                    @include ras(100%, auto);
                    display: flex;
                    flex-direction: column;
                    margin: 0 0.4rem 1rem;
                    order: 3;
                    li {
                        position: relative;
                        span {
                            display: inline-block;
                            font-size: 2rem;
                            position: absolute;
                        }
                    }
                    .lvb1,
                    .lvb2,
                    .lvb7 {
                        color: rgb(231, 5, 5);
                        display: none;
                    }
                    li {
                        display: flex;
                        @include ras(100%, auto);
                        justify-content: space-around;
                        font-size: 1.5rem;
                        line-height: 2.5rem;
                        box-sizing: border-box;
                        p {
                            width: 7rem;
                            font-size: 1.7rem;
                            text-align: center;
                        }
                        &:hover {
                            background-color: #b6b07e;
                        }
                    }
                }
                .describe {
                    width: 80%;
                    margin: 0 auto;
                    font-size: 1.4rem;
                    padding: 0.5rem 0;
                    order: 2;
                }
            }
            .sukiru {
                @include ras(98%, 5rem);
                p {
                    font-size: 1.5rem;
                    text-align: center;
                }
            }
            .pane2 {
                @include ras(98%, 100%);
                margin: 0 auto;
                border: 4px solid rgb(138, 138, 138);
                border-bottom: none;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
                .pa-1 {
                    @include ras(100%, 3rem);
                    text-align: center;
                    font-size: 1.8rem;
                    border-bottom: none;
                }
                .lvb3,
                .lvb4,
                .lvb5,
                .lvb6,
                .lvb8,
                .lvb9 {
                    color: rgb(231, 5, 5);
                    display: none;
                }
                ul {
                    @include ras(24rem, 100%);
                    li {
                        min-width: 24rem;
                        font-size: 1.5rem;
                        display: flex;
                        &:hover {
                            background-color: #b6b07e;
                        }
                        &:nth-child(1) {
                            font-weight: bold;
                        }
                        p {
                            min-width: 8rem;
                            height: 2.5rem;
                            line-height: 2.5rem;
                            text-align: center;
                        }
                    }
                    li {
                        position: relative;
                        span {
                            display: inline-block;
                            font-size: 2rem;
                            position: absolute;
                        }
                    }
                }
                .pa-2 {
                    width: 60%;
                    height: 100%;
                    flex: auto;
                    p {
                        width: 100%;
                        height: 100%;
                        font-size: 1.5rem;
                        line-height: 2.5rem;
                        text-align: center;
                        &:nth-child(1) {
                            font-weight: bold;
                        }
                        &:nth-child(2) {
                            font-size: 1.4rem;
                        }
                    }
                }
            }
            .pane3 {
                @include ras(98%, auto);
                margin: 0 auto;
                border: 4px solid rgb(138, 138, 138);
                border-bottom: none;
                p {
                    font-size: 1.6rem;
                    text-align: center;
                }
            }
        }
    }
}
