.box {
  width: 98%;
}

.box .box1 {
  width: 100%;
}

.box .box1 .tag .panel ul {
  margin: 0;
}

.box .box1 .tag .pane2 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box .box1 .tag .pane2 ul {
  width: auto;
}

.box .box1 .tag .pane2 .pa-2 {
  width: 100%;
}
