html {
  font-size: 10px;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  background: url(../Activity/bg1.png) no-repeat center/cover;
  background-attachment: fixed;
  height: 100vh;
}

.boxA {
  position: relative;
  z-index: 9999;
}

.box {
  width: 75%;
  height: auto;
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 1.5rem;
}

.box::before, .box::after {
  content: '';
  display: table;
  clear: both;
}

.box .box1 {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  max-width: 100rem;
}

.box .box1 .top {
  width: 9rem;
  height: 9rem;
  border: 4px solid #fafad2;
  position: relative;
  z-index: 99;
  overflow: hidden;
  border-radius: 2.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.box .box1 .top img {
  width: 100%;
  height: auto;
  vertical-align: top;
  image-rendering: -webkit-optimize-contrast;
}

.box .box1 .tag {
  width: 100%;
  height: auto;
  -webkit-box-shadow: 0 0 1rem 0.3rem black;
          box-shadow: 0 0 1rem 0.3rem black;
  border: 4px solid #fafad2;
  margin-top: -0.2rem;
  background-color: #f3c07d;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.box .box1 .tag .img {
  position: absolute;
  width: 4rem;
  height: 4rem;
  border: 2px solid #f3c07d;
  border-radius: 50%;
  z-index: 9999;
  right: 0;
  top: -5rem;
}

.box .box1 .tag .img span {
  position: absolute;
  width: 3rem;
  height: 0.2rem;
  background-color: #c50000;
  border-radius: 2rem;
  left: 0.5rem;
}

.box .box1 .tag .img span:nth-child(1) {
  top: calc(50%);
  -webkit-transform: rotateZ(45deg);
      -ms-transform: rotate(45deg);
          transform: rotateZ(45deg);
}

.box .box1 .tag .img span:nth-child(2) {
  top: calc(50%);
  -webkit-transform: rotateZ(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotateZ(-45deg);
}

.box .box1 .tag input {
  display: none;
}

.box .box1 .tag #lv1:checked ~ .panel ul li .lv1 span {
  -webkit-transform: rotateZ(3.142rad);
      -ms-transform: rotate(3.142rad);
          transform: rotateZ(3.142rad);
}

.box .box1 .tag #lv1:checked ~ .panel ul .lvb1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box .box1 .tag #lv2:checked ~ .panel ul li .lv2 span {
  -webkit-transform: rotateZ(3.142rad);
      -ms-transform: rotate(3.142rad);
          transform: rotateZ(3.142rad);
}

.box .box1 .tag #lv2:checked ~ .panel ul .lvb2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box .box1 .tag #lv7:checked ~ .panel ul li .lv7 span {
  -webkit-transform: rotateZ(3.142rad);
      -ms-transform: rotate(3.142rad);
          transform: rotateZ(3.142rad);
}

.box .box1 .tag #lv7:checked ~ .panel ul .lvb7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box .box1 .tag #lv3:checked ~ .pane2 ul li .lv3 span {
  -webkit-transform: rotateZ(3.142rad);
      -ms-transform: rotate(3.142rad);
          transform: rotateZ(3.142rad);
}

.box .box1 .tag #lv3:checked ~ .pane2 ul .lvb3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box .box1 .tag #lv4:checked ~ .pane2 ul li .lv4 span {
  -webkit-transform: rotateZ(3.142rad);
      -ms-transform: rotate(3.142rad);
          transform: rotateZ(3.142rad);
}

.box .box1 .tag #lv4:checked ~ .pane2 ul .lvb4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box .box1 .tag #lv5:checked ~ .pane2 ul li .lv5 span {
  -webkit-transform: rotateZ(3.142rad);
      -ms-transform: rotate(3.142rad);
          transform: rotateZ(3.142rad);
}

.box .box1 .tag #lv5:checked ~ .pane2 ul .lvb5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box .box1 .tag #lv6:checked ~ .pane2 ul li .lv6 span {
  -webkit-transform: rotateZ(3.142rad);
      -ms-transform: rotate(3.142rad);
          transform: rotateZ(3.142rad);
}

.box .box1 .tag #lv6:checked ~ .pane2 ul .lvb6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box .box1 .tag #lv8:checked ~ .pane2 ul li .lv8 span {
  -webkit-transform: rotateZ(3.142rad);
      -ms-transform: rotate(3.142rad);
          transform: rotateZ(3.142rad);
}

.box .box1 .tag #lv8:checked ~ .pane2 ul .lvb8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box .box1 .tag #lv9:checked ~ .pane2 ul li .lv9 span {
  -webkit-transform: rotateZ(3.142rad);
      -ms-transform: rotate(3.142rad);
          transform: rotateZ(3.142rad);
}

.box .box1 .tag #lv9:checked ~ .pane2 ul .lvb9 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box .box1 .tag .panel {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.box .box1 .tag .panel::before, .box .box1 .tag .panel::after {
  content: '';
  display: table;
  clear: both;
}

.box .box1 .tag .panel aside {
  width: 6rem;
  height: auto;
  border: 0.2rem solid #000;
  margin: 1rem 0 0.5rem 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box .box1 .tag .panel aside span {
  display: block;
  font-size: 1.4rem;
}

.box .box1 .tag .panel ul {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0.4rem 1rem;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.box .box1 .tag .panel ul li {
  position: relative;
}

.box .box1 .tag .panel ul li span {
  display: inline-block;
  font-size: 2rem;
  position: absolute;
}

.box .box1 .tag .panel ul .lvb1,
.box .box1 .tag .panel ul .lvb2,
.box .box1 .tag .panel ul .lvb7 {
  color: #e70505;
  display: none;
}

.box .box1 .tag .panel ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 1.5rem;
  line-height: 2.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.box .box1 .tag .panel ul li p {
  width: 7rem;
  font-size: 1.7rem;
  text-align: center;
}

.box .box1 .tag .panel ul li:hover {
  background-color: #b6b07e;
}

.box .box1 .tag .panel .describe {
  width: 80%;
  margin: 0 auto;
  font-size: 1.4rem;
  padding: 0.5rem 0;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.box .box1 .tag .sukiru {
  width: 98%;
  height: 5rem;
}

.box .box1 .tag .sukiru p {
  font-size: 1.5rem;
  text-align: center;
}

.box .box1 .tag .pane2 {
  width: 98%;
  height: 100%;
  margin: 0 auto;
  border: 4px solid #8a8a8a;
  border-bottom: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.box .box1 .tag .pane2 .pa-1 {
  width: 100%;
  height: 3rem;
  text-align: center;
  font-size: 1.8rem;
  border-bottom: none;
}

.box .box1 .tag .pane2 .lvb3,
.box .box1 .tag .pane2 .lvb4,
.box .box1 .tag .pane2 .lvb5,
.box .box1 .tag .pane2 .lvb6,
.box .box1 .tag .pane2 .lvb8,
.box .box1 .tag .pane2 .lvb9 {
  color: #e70505;
  display: none;
}

.box .box1 .tag .pane2 ul {
  width: 24rem;
  height: 100%;
}

.box .box1 .tag .pane2 ul li {
  min-width: 24rem;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box .box1 .tag .pane2 ul li:hover {
  background-color: #b6b07e;
}

.box .box1 .tag .pane2 ul li:nth-child(1) {
  font-weight: bold;
}

.box .box1 .tag .pane2 ul li p {
  min-width: 8rem;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
}

.box .box1 .tag .pane2 ul li {
  position: relative;
}

.box .box1 .tag .pane2 ul li span {
  display: inline-block;
  font-size: 2rem;
  position: absolute;
}

.box .box1 .tag .pane2 .pa-2 {
  width: 60%;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.box .box1 .tag .pane2 .pa-2 p {
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-align: center;
}

.box .box1 .tag .pane2 .pa-2 p:nth-child(1) {
  font-weight: bold;
}

.box .box1 .tag .pane2 .pa-2 p:nth-child(2) {
  font-size: 1.4rem;
}

.box .box1 .tag .pane3 {
  width: 98%;
  height: auto;
  margin: 0 auto;
  border: 4px solid #8a8a8a;
  border-bottom: none;
}

.box .box1 .tag .pane3 p {
  font-size: 1.6rem;
  text-align: center;
}
