.box {
    width: 100%;
    .box1 {
        width: 90%;
        .tag {
            .pane2 {
                justify-content: center;
                ul {
                    width: auto;
                }
                .pa-2 {
                    width: 100%;
                }
            }
        }
    }
}
