@font-face {
  font-family: "iconfont"; /* Project id 2962249 */
  src: url('iconfont.woff2?t=1648480236737') format('woff2'),
       url('iconfont.woff?t=1648480236737') format('woff'),
       url('iconfont.ttf?t=1648480236737') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiantou_liebiaozhankai:before {
  content: "\eb04";
}

