@mixin ras($a: 100%, $b: 100%) {
    width: $a;
    height: $b;
}
@mixin taxian {
    &::before,
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}
@mixin colo {
    color: red;
}
html {
    font-size: 10px;
}
body {
    background: url(../bg0.png) no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}
.box {
    @include ras(100%, 100vh);
    display: flex;
    align-items: center;
    input {
        display: none;
    }
    #tag1:checked ~ {
        .td2 {
            .td2-1 {
                .cn {
                    label {
                        &:nth-child(1) {
                            @include colo;
                        }
                    }
                }
            }
        }
    }
    #tag2:checked ~ {
        .td2 {
            .td2-1 {
                .t {
                    .t2 {
                        display: block;
                    }
                    .bat1 {
                        display: none;
                    }
                }
                .t3 {
                    display: block;
                }
                .bat1 {
                    display: none;
                }
                .cn {
                    label {
                        &:nth-child(1) {
                            color: black;
                        }
                        &:nth-child(3) {
                            @include colo;
                        }
                    }
                }
            }
        }
    }
    #max1:checked ~ {
        .td2-1 {
            .t3 {
                .tile-1 {
                    li {
                        &:nth-child(n + 3) {
                            span:nth-child(2) {
                                display: inline-block;
                            }
                            span:nth-child(n + 3) {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
    #max2:checked ~ {
        .td2-1 {
            .t3 {
                .tile-1 {
                    li {
                        span {
                            label:nth-child(1) {
                                color: black;
                            }
                            label:nth-child(2) {
                                @include colo;
                            }
                        }
                        &:nth-child(n + 3) {
                            span:nth-child(2) {
                                display: none;
                            }
                            span:nth-child(3) {
                                display: inline-block;
                            }
                        }
                    }
                }
            }
        }
    }
    #te1:checked ~ {
        .td2-1 {
            .t3 {
                .tile {
                    .kurasu {
                        .te1 {
                            @include colo;
                        }
                    }
                    .kurasu-te:nth-of-type(2) {
                        display: block;
                    }
                }
            }
        }
    }
    #te2:checked ~ {
        .td2-1 {
            .t3 {
                .tile {
                    .kurasu {
                        .te1 {
                            color: black;
                        }
                        .te2 {
                            @include colo;
                        }
                    }
                    .kurasu-te:nth-of-type(3) {
                        display: block;
                    }
                    .kurasu-te:nth-of-type(2) {
                        display: none;
                    }
                }
            }
        }
    }
    #te3:checked ~ {
        .td2-1 {
            .t3 {
                .tile {
                    .kurasu {
                        .te1 {
                            color: black;
                        }
                        .te3 {
                            @include colo;
                        }
                    }
                    .kurasu-te:nth-of-type(4) {
                        display: block;
                    }
                    .kurasu-te:nth-of-type(2) {
                        display: none;
                    }
                }
            }
        }
    }
    #lv1:checked ~ {
        .td2-1 {
            .t3 {
                .tile {
                    .ex {
                        .lv1-1:nth-child(1) {
                            display: inline;
                        }
                    }
                }
            }
        }
    }
    #lv2:checked ~ {
        .td2-1 {
            .t3 {
                .tile {
                    .ex {
                        label {
                            &:nth-child(2) {
                                -webkit-text-fill-color: rgb(0, 0, 0);
                                -webkit-text-stroke-color: 0;
                                -webkit-text-stroke-width: 0;
                            }
                            &:nth-child(3) {
                                -webkit-text-fill-color: rgb(255, 255, 255);
                                -webkit-text-stroke-color: rgb(0, 0, 0);
                                -webkit-text-stroke-width: 0.1rem;
                            }
                        }
                        .lv1-1:nth-child(1) {
                            display: none;
                        }
                        .lv1-1:nth-child(2) {
                            display: inline;
                        }
                    }
                }
            }
        }
    }
    #lv3:checked ~ {
        .td2-1 {
            .t3 {
                .tile {
                    .ex {
                        label {
                            &:nth-child(2) {
                                -webkit-text-fill-color: rgb(0, 0, 0);
                                -webkit-text-stroke-color: 0;
                                -webkit-text-stroke-width: 0;
                            }
                            &:nth-child(4) {
                                -webkit-text-fill-color: rgb(255, 255, 255);
                                -webkit-text-stroke-color: rgb(0, 0, 0);
                                -webkit-text-stroke-width: 0.1rem;
                            }
                        }
                        .lv1-1:nth-child(1) {
                            display: none;
                        }
                        .lv1-1:nth-child(3) {
                            display: inline;
                        }
                    }
                }
            }
        }
    }
    #lv4:checked ~ {
        .td2-1 {
            .t3 {
                .tile {
                    .ex {
                        label {
                            &:nth-child(2) {
                                -webkit-text-fill-color: rgb(0, 0, 0);
                                -webkit-text-stroke-color: 0;
                                -webkit-text-stroke-width: 0;
                            }
                            &:nth-child(5) {
                                -webkit-text-fill-color: rgb(255, 255, 255);
                                -webkit-text-stroke-color: rgb(0, 0, 0);
                                -webkit-text-stroke-width: 0.1rem;
                            }
                        }
                        .lv1-1:nth-child(1) {
                            display: none;
                        }
                        .lv1-1:nth-child(4) {
                            display: inline;
                        }
                    }
                }
            }
        }
    }
    #lv5:checked ~ {
        .td2-1 {
            .t3 {
                .tile {
                    .ex {
                        label {
                            &:nth-child(2) {
                                -webkit-text-fill-color: rgb(0, 0, 0);
                                -webkit-text-stroke-color: 0;
                                -webkit-text-stroke-width: 0;
                            }
                            &:nth-child(6) {
                                -webkit-text-fill-color: rgb(255, 255, 255);
                                -webkit-text-stroke-color: rgb(0, 0, 0);
                                -webkit-text-stroke-width: 0.1rem;
                            }
                        }
                        .lv1-1:nth-child(1) {
                            display: none;
                        }
                        .lv1-1:nth-child(5) {
                            display: inline;
                        }
                    }
                }
            }
        }
    }
    .td2 {
        @include ras(90%, auto);
        display: flex;
        justify-content: center;
        margin: auto;
        padding: 1rem 0;
        .td2-1 {
            * {
                cursor: default;
            }
            @include ras(95rem, 100%);
            flex-wrap: wrap;
            border: 3px solid rgb(217, 255, 0);
            box-shadow: 0 0 2rem rgba(0, 0, 0, 0.6);
            display: flex;
            position: relative;
            background-color: #ffeac1;
            border-radius: 2rem;
            .cn {
                @include ras(5rem, 5rem);
                border-radius: 50%;
                border: 2px solid black;
                position: fixed;
                right: 50%;
                top: auto;
                margin-top: 5rem;
               margin-right: 58.5rem;
                span {
                    display: block;
                    width: 0.2rem;
                    height: 100%;
                    background-color: black;
                    margin: auto;
                    top: calc(50%);
                    transform: rotateZ(45deg);
                }
                label {
                    display: inline-block;
                    font: 1.7rem/3rem 'Orbitron', sans-serif;
                    position: absolute;
                    font-weight: bold;
                    &:nth-child(1) {
                        @include ras(2.5rem, 2.5rem);
                        top: 0.2rem;
                        left: 0.2rem;
                        @include colo;
                    }
                    &:nth-child(3) {
                        bottom: 0.56rem;
                        right: 0.56rem;
                        @include ras(2.5rem, 2.5rem);
                    }
                }
            }
            .img {
                position: fixed;
                width: 4rem;
                height: 4rem;
                border: 2px solid black;
                border-radius: 50%;
                z-index: 9999;
                right: 50%;
                top: auto;
                margin-right: 58.5rem;
                span {
                    position: absolute;
                    width: 3rem;
                    height: 0.2rem;
                    background-color: black;
                    border-radius: 2rem;
                    left: 0.5rem;
                    &:nth-child(1) {
                        top: calc(50%);
                        transform: rotateZ(45deg);
                    }
                    &:nth-child(2) {
                        top: calc(50%);
                        transform: rotateZ(-45deg);
                    }
                }
            }
            .t {
                @include ras(100%, auto);
                display: flex;
                border-bottom: 2px solid rgb(255, 255, 255);
                @include taxian;
                .t1 {
                    @include ras(65%, 100%);
                    border-right: 2px solid rgb(255, 255, 255);
                    img {
                        @include ras(100%, auto);
                        vertical-align: top;
                        margin: auto;
                        image-rendering: -webkit-optimize-contrast;
                    }
                }
                .sd1 {
                    display: none;
                }
                .t2 {
                    @include ras(34.8rem, 100%);
                    margin: 0 auto;
                    padding-top: 0.5rem;
                    @include taxian;
                    display: none;
                    ul {
                        @include ras;
                        margin-bottom: 1rem;
                        li {
                            text-align: center;
                            @include ras(90%, auto);
                            border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
                            margin: 0 auto;
                            p {
                                width: 100%;
                                font-size: 1.6rem;
                                &:nth-child(2) {
                                    font-size: 1.3rem;
                                    border-bottom: 0.2rem solid rgba(0, 0, 0, 0.2);
                                }
                            }
                            span {
                                display: inline-block;
                                font-size: 1.6rem;
                                &:nth-child(1) {
                                    width: 10rem;
                                    font-weight: bold;
                                }
                            }
                            &:nth-child(n + 2) {
                                margin-top: 2rem;
                            }
                            &:nth-last-child(1) {
                                border-bottom: 0;
                            }
                            &:nth-child(1) {
                                span {
                                    &:nth-child(1) {
                                        font-size: 0;
                                    }
                                    &:nth-child(2) {
                                        width: 100%;
                                        font-size: 1.7rem;
                                        font-weight: bold;
                                    }
                                }
                            }
                        }
                    }
                }
                .bat1 {
                    display: block;
                }
            }
            .t3 {
                @include ras(100%, 100%);
                border-bottom: 2px solid rgb(255, 255, 255);
                border-top: none;
                position: relative;
                padding: 0.5rem 0;
                display: none;
                .tile-1 {
                    @include ras;
                    display: flex;
                    flex-wrap: wrap;
                    li {
                        text-align: center;
                        font-size: 1.5rem;
                        &:nth-child(1) {
                            width: 100%;
                            margin-bottom: 1rem;
                            border-bottom: 2px solid rgb(255, 255, 255);
                        }
                        &:nth-child(2) {
                            span:nth-child(2) {
                                font-size: 1.3rem;
                            }
                        }
                        &:nth-child(n + 2) {
                            width: 50%;
                        }
                        span {
                            width: 100%;
                            height: 50%;
                            display: inline-block;
                            &:nth-child(n + 3) {
                                display: none;
                                @include colo;
                            }
                            label {
                                display: inline-block;
                                &:nth-child(1) {
                                    @include colo;
                                }
                            }
                            &:nth-child(3) {
                                display: none;
                            }
                        }
                    }
                }
                .up {
                    display: block;
                    li:nth-child(n + 1) {
                        width: 100%;
                        display: block;
                        span {
                            @include ras(100% 100%);
                            display: block;
                        }
                    }
                }
                .tile {
                    width: 75%;
                    margin: auto;
                    font-size: 0;
                    .kurasu,
                    .kurasu1 {
                        span {
                            width: 100%;
                            display: inline;
                        }
                        span:nth-child(2) {
                            @include colo;
                        }
                    }
                    .kurasu-te:nth-of-type(n + 3) {
                        display: none;
                        @include colo;
                    }
                    p:nth-child(1) {
                        font-size: 1.7rem;
                    }
                    p:nth-child(n + 2) {
                        font-size: 1.5rem;
                    }
                    i {
                        display: block;
                        @include ras(100%, 0.1rem);
                        background-color: black;
                    }
                    .ex {
                        .lv {
                            margin-right: 0.3rem;
                            font: 1.6rem/3rem 'Orbitron', sans-serif;
                        }
                        .lv1-1:nth-child(n + 2) {
                            display: none;
                        }
                        .lv1-2:nth-child(n + 8) {
                            display: none;
                        }
                        label {
                            @extend .lv;
                            margin-right: 0.5rem;
                            font: 1.6rem/3rem 'Orbitron', sans-serif;
                            &:nth-child(2) {
                                -webkit-text-fill-color: rgb(255, 255, 255);
                                -webkit-text-stroke-color: rgb(0, 0, 0);
                                -webkit-text-stroke-width: 0.1rem;
                            }
                        }
                        span {
                            display: inline;
                            @include colo;
                        }
                    }
                    .ex1 {
                        display: inline-block;
                    }
                }
                span {
                    display: block;
                    width: 0;
                    height: 1rem;
                }
            }
            .bat1 {
                display: block;
            }
            .t3:nth-last-child(1),
            .t3:nth-of-type(7) {
                border-bottom: none;
            }
        }
        .td2-2 {
            @include ras(19rem, 100%);
            margin-left: 1rem;
            background-color: rgba(255, 255, 255, 0.5);
            .t3:nth-of-type(3) {
                border-bottom: none;
            }
        }
    }
}
