html {
  font-size: 10px;
}

body {
  background: #ffd87d url(http://www.transparenttextures.com/patterns/fake-luxury.png) fixed 50% 100%;
}

.box {
  width: 100%;
  height: 100%;
}

.box input {
  display: none;
}

.box #tag1:checked ~ .td2 .td2-1 .cn label:nth-child(1) {
  color: red;
}

.box #tag2:checked ~ .td2 .td2-1 .t .t2 {
  display: block;
}

.box #tag2:checked ~ .td2 .td2-1 .t .bat1 {
  display: none;
}

.box #tag2:checked ~ .td2 .td2-1 .t3 {
  display: block;
}

.box #tag2:checked ~ .td2 .td2-1 .bat1 {
  display: none;
}

.box #tag2:checked ~ .td2 .td2-1 .cn label:nth-child(1) {
  color: black;
}

.box #tag2:checked ~ .td2 .td2-1 .cn label:nth-child(3) {
  color: red;
}

.box #max1:checked ~ .td2-1 .t3 .tile-1 li:nth-child(n + 3) span:nth-child(2) {
  display: inline-block;
}

.box #max1:checked ~ .td2-1 .t3 .tile-1 li:nth-child(n + 3) span:nth-child(n + 3) {
  display: none;
}

.box #max2:checked ~ .td2-1 .t3 .tile-1 li span label:nth-child(1) {
  color: black;
}

.box #max2:checked ~ .td2-1 .t3 .tile-1 li span label:nth-child(2) {
  color: red;
}

.box #max2:checked ~ .td2-1 .t3 .tile-1 li:nth-child(n + 3) span:nth-child(2) {
  display: none;
}

.box #max2:checked ~ .td2-1 .t3 .tile-1 li:nth-child(n + 3) span:nth-child(3) {
  display: inline-block;
}

.box #te1:checked ~ .td2-1 .t3 .tile .kurasu .te1 {
  color: red;
}

.box #te1:checked ~ .td2-1 .t3 .tile .kurasu-te:nth-of-type(2) {
  display: block;
}

.box #te2:checked ~ .td2-1 .t3 .tile .kurasu .te1 {
  color: black;
}

.box #te2:checked ~ .td2-1 .t3 .tile .kurasu .te2 {
  color: red;
}

.box #te2:checked ~ .td2-1 .t3 .tile .kurasu-te:nth-of-type(3) {
  display: block;
}

.box #te2:checked ~ .td2-1 .t3 .tile .kurasu-te:nth-of-type(2) {
  display: none;
}

.box #te3:checked ~ .td2-1 .t3 .tile .kurasu .te1 {
  color: black;
}

.box #te3:checked ~ .td2-1 .t3 .tile .kurasu .te3 {
  color: red;
}

.box #te3:checked ~ .td2-1 .t3 .tile .kurasu-te:nth-of-type(4) {
  display: block;
}

.box #te3:checked ~ .td2-1 .t3 .tile .kurasu-te:nth-of-type(2) {
  display: none;
}

.box #lv1:checked ~ .td2-1 .t3 .tile .ex .lv1-1:nth-child(1) {
  display: inline;
}

.box #lv2:checked ~ .td2-1 .t3 .tile .ex label:nth-child(2) {
  color: black;
  text-shadow: none;
}

.box #lv2:checked ~ .td2-1 .t3 .tile .ex label:nth-child(3) {
  color: #ffffff;
  text-shadow: #000 1px 0 0, #000 0 1px 0, #000 -1px 0 0, #000 0 -1px 0;
}

.box #lv2:checked ~ .td2-1 .t3 .tile .ex .lv1-1:nth-child(1) {
  display: none;
}

.box #lv2:checked ~ .td2-1 .t3 .tile .ex .lv1-1:nth-child(2) {
  display: inline;
}

.box #lv3:checked ~ .td2-1 .t3 .tile .ex label:nth-child(2) {
  color: black;
  text-shadow: none;
}

.box #lv3:checked ~ .td2-1 .t3 .tile .ex label:nth-child(4) {
  color: #ffffff;
  text-shadow: #000 1px 0 0, #000 0 1px 0, #000 -1px 0 0, #000 0 -1px 0;
}

.box #lv3:checked ~ .td2-1 .t3 .tile .ex .lv1-1:nth-child(1) {
  display: none;
}

.box #lv3:checked ~ .td2-1 .t3 .tile .ex .lv1-1:nth-child(3) {
  display: inline;
}

.box #lv4:checked ~ .td2-1 .t3 .tile .ex label:nth-child(2) {
  color: black;
  text-shadow: none;
}

.box #lv4:checked ~ .td2-1 .t3 .tile .ex label:nth-child(5) {
  color: #ffffff;
  text-shadow: #000 1px 0 0, #000 0 1px 0, #000 -1px 0 0, #000 0 -1px 0;
}

.box #lv4:checked ~ .td2-1 .t3 .tile .ex .lv1-1:nth-child(1) {
  display: none;
}

.box #lv4:checked ~ .td2-1 .t3 .tile .ex .lv1-1:nth-child(4) {
  display: inline;
}

.box #lv5:checked ~ .td2-1 .t3 .tile .ex label:nth-child(2) {
  color: black;
  text-shadow: none;
}

.box #lv5:checked ~ .td2-1 .t3 .tile .ex label:nth-child(6) {
  color: #ffffff;
  text-shadow: #000 1px 0 0, #000 0 1px 0, #000 -1px 0 0, #000 0 -1px 0;
}

.box #lv5:checked ~ .td2-1 .t3 .tile .ex .lv1-1:nth-child(1) {
  display: none;
}

.box #lv5:checked ~ .td2-1 .t3 .tile .ex .lv1-1:nth-child(5) {
  display: inline;
}

.box .td2 {
  width: 90%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  margin-top: 5%;
}

.box .td2 .td2-1 {
  width: 75rem;
  height: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 3px solid #d9ff00;
  -webkit-box-shadow: 0 0 2rem rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 2rem rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background-color: #ffeac1;
  border-radius: 2rem;
}

.box .td2 .td2-1 * {
  cursor: default;
}

.box .td2 .td2-1 .cn {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 2px solid black;
  position: fixed;
  right: 50%;
  top: auto;
  margin-top: 5rem;
  margin-right: 48.8rem;
}

.box .td2 .td2-1 .cn span {
  display: block;
  width: 0.2rem;
  height: 100%;
  background-color: black;
  margin: auto;
  top: calc(50%);
  -webkit-transform: rotateZ(45deg);
      -ms-transform: rotate(45deg);
          transform: rotateZ(45deg);
}

.box .td2 .td2-1 .cn label {
  display: inline-block;
  font: 1.7rem/3rem 'Orbitron', sans-serif;
  position: absolute;
  font-weight: bold;
}

.box .td2 .td2-1 .cn label:nth-child(1) {
  width: 2.5rem;
  height: 2.5rem;
  top: 0.2rem;
  left: 0.2rem;
  color: red;
}

.box .td2 .td2-1 .cn label:nth-child(3) {
  bottom: 0.56rem;
  right: 0.56rem;
  width: 2.5rem;
  height: 2.5rem;
}

.box .td2 .td2-1 .img {
  position: fixed;
  width: 4rem;
  height: 4rem;
  border: 2px solid black;
  border-radius: 50%;
  z-index: 9999;
  right: 50%;
  top: auto;
  margin-right: 48.8rem;
}

.box .td2 .td2-1 .img span {
  position: absolute;
  width: 3rem;
  height: 0.2rem;
  background-color: black;
  border-radius: 2rem;
  left: 0.5rem;
}

.box .td2 .td2-1 .img span:nth-child(1) {
  top: calc(50%);
  -webkit-transform: rotateZ(45deg);
      -ms-transform: rotate(45deg);
          transform: rotateZ(45deg);
}

.box .td2 .td2-1 .img span:nth-child(2) {
  top: calc(50%);
  -webkit-transform: rotateZ(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotateZ(-45deg);
}

.box .td2 .td2-1 .t {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 2px solid white;
}

.box .td2 .td2-1 .t::before, .box .td2 .td2-1 .t::after {
  content: '';
  display: table;
  clear: both;
}

.box .td2 .td2-1 .t .t1 {
  width: 45rem;
  height: 100%;
  border-right: 2px solid white;
}

.box .td2 .td2-1 .t .t1 img {
  width: 100%;
  height: auto;
  vertical-align: top;
  margin: auto;
  image-rendering: -webkit-optimize-contrast;
}

.box .td2 .td2-1 .t .sd1 {
  display: none;
}

.box .td2 .td2-1 .t .t2 {
  width: 34.8rem;
  height: 100%;
  margin: 0 auto;
  padding-top: 0.5rem;
  display: none;
}

.box .td2 .td2-1 .t .t2::before, .box .td2 .td2-1 .t .t2::after {
  content: '';
  display: table;
  clear: both;
}

.box .td2 .td2-1 .t .t2 ul {
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
}

.box .td2 .td2-1 .t .t2 ul li {
  text-align: center;
  width: 90%;
  height: auto;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}

.box .td2 .td2-1 .t .t2 ul li p {
  width: 100%;
  font-size: 1.6rem;
}

.box .td2 .td2-1 .t .t2 ul li p:nth-child(2) {
  font-size: 1.3rem;
  border-bottom: 0.2rem solid rgba(0, 0, 0, 0.2);
}

.box .td2 .td2-1 .t .t2 ul li span {
  display: inline-block;
  font-size: 1.6rem;
}

.box .td2 .td2-1 .t .t2 ul li span:nth-child(1) {
  width: 10rem;
  font-weight: bold;
}

.box .td2 .td2-1 .t .t2 ul li:nth-child(n + 2) {
  margin-top: 2rem;
}

.box .td2 .td2-1 .t .t2 ul li:nth-last-child(1) {
  border-bottom: 0;
}

.box .td2 .td2-1 .t .t2 ul li:nth-child(1) span:nth-child(1) {
  font-size: 0;
}

.box .td2 .td2-1 .t .t2 ul li:nth-child(1) span:nth-child(2) {
  width: 100%;
  font-size: 1.7rem;
  font-weight: bold;
}

.box .td2 .td2-1 .t .bat1 {
  display: block;
}

.box .td2 .td2-1 .t3 {
  width: 100%;
  height: 100%;
  border-bottom: 2px solid white;
  border-top: none;
  position: relative;
  padding: 0.5rem 0;
  display: none;
}

.box .td2 .td2-1 .t3 .tile-1 {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.box .td2 .td2-1 .t3 .tile-1 li {
  text-align: center;
  font-size: 1.5rem;
}

.box .td2 .td2-1 .t3 .tile-1 li:nth-child(1) {
  width: 100%;
  margin-bottom: 1rem;
  border-bottom: 2px solid white;
}

.box .td2 .td2-1 .t3 .tile-1 li:nth-child(2) span:nth-child(2) {
  font-size: 1.3rem;
}

.box .td2 .td2-1 .t3 .tile-1 li:nth-child(n + 2) {
  width: 50%;
}

.box .td2 .td2-1 .t3 .tile-1 li span {
  width: 100%;
  height: 50%;
  display: inline-block;
}

.box .td2 .td2-1 .t3 .tile-1 li span:nth-child(n + 3) {
  display: none;
  color: red;
}

.box .td2 .td2-1 .t3 .tile-1 li span label {
  display: inline-block;
}

.box .td2 .td2-1 .t3 .tile-1 li span label:nth-child(1) {
  color: red;
}

.box .td2 .td2-1 .t3 .tile-1 li span:nth-child(3) {
  display: none;
}

.box .td2 .td2-1 .t3 .up {
  display: block;
}

.box .td2 .td2-1 .t3 .up li:nth-child(n + 1) {
  width: 100%;
  display: block;
}

.box .td2 .td2-1 .t3 .up li:nth-child(n + 1) span {
  width: 100% 100%;
  height: 100%;
  display: block;
}

.box .td2 .td2-1 .t3 .tile {
  width: 75%;
  margin: auto;
  font-size: 0;
}

.box .td2 .td2-1 .t3 .tile .kurasu span,
.box .td2 .td2-1 .t3 .tile .kurasu1 span {
  width: 100%;
  display: inline;
}

.box .td2 .td2-1 .t3 .tile .kurasu span:nth-child(2),
.box .td2 .td2-1 .t3 .tile .kurasu1 span:nth-child(2) {
  color: red;
}

.box .td2 .td2-1 .t3 .tile .kurasu-te:nth-of-type(n + 3) {
  display: none;
  color: red;
}

.box .td2 .td2-1 .t3 .tile p:nth-child(1) {
  font-size: 1.7rem;
}

.box .td2 .td2-1 .t3 .tile p:nth-child(n + 2) {
  font-size: 1.5rem;
}

.box .td2 .td2-1 .t3 .tile i {
  display: block;
  width: 100%;
  height: 0.1rem;
  background-color: black;
}

.box .td2 .td2-1 .t3 .tile .ex .lv, .box .td2 .td2-1 .t3 .tile .ex label {
  margin-right: 0.3rem;
  font: 1.6rem/3rem 'Orbitron', sans-serif;
}

.box .td2 .td2-1 .t3 .tile .ex .lv1-1:nth-child(n + 2) {
  display: none;
}

.box .td2 .td2-1 .t3 .tile .ex .lv1-2:nth-child(n + 8) {
  display: none;
}

.box .td2 .td2-1 .t3 .tile .ex label {
  margin-right: 0.5rem;
}

.box .td2 .td2-1 .t3 .tile .ex label:nth-child(2) {
  color: #ffffff;
  text-shadow: #000 1px 0 0, #000 0 1px 0, #000 -1px 0 0, #000 0 -1px 0;
}

.box .td2 .td2-1 .t3 .tile .ex span {
  display: inline;
  color: red;
}

.box .td2 .td2-1 .t3 .tile .ex1 {
  display: inline-block;
}

.box .td2 .td2-1 .t3 span {
  display: block;
  width: 0;
  height: 1rem;
}

.box .td2 .td2-1 .bat1 {
  display: block;
}

.box .td2 .td2-1 .t3:nth-last-child(1),
.box .td2 .td2-1 .t3:nth-of-type(7) {
  border-bottom: none;
}

.box .td2 .td2-2 {
  width: 19rem;
  height: 100%;
  margin-left: 1rem;
  background-color: rgba(255, 255, 255, 0.3);
}

.box .td2 .td2-2 .t3:nth-of-type(3) {
  border-bottom: none;
}
