@mixin ras($a: 100%, $b: 100%) {
    width: $a;
    height: $b;
}
.box {
    .td2 {
        flex-wrap: wrap;
        .td2-1 {
            @include ras(60%, 100%);
            .cn {
                position: fixed;
                right: 78.6%;
                left: auto;
                top: auto;
                margin-top: 5rem;
                margin-right: auto;
            }
            .img {
                position: fixed;
                right: 78.6%;
                left: auto;
                top: auto;
                margin-right: auto;
            }
            .t {
                .sd {
                    display: none;
                }
                .sd1 {
                    display: block;
                }
                .t2 {
                    ul {
                        li {
                            width: 100%;
                            span {
                                font-size: 1.4rem;
                                &:nth-child(1) {
                                    width: 40%;
                                }
                            }
                            &:nth-child(1) {
                                span {
                                    &:nth-child(2) {
                                        width: 100%;
                                        font-size: 1.6rem;
                                        font-weight: bold;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .t3 {
                .tile {
                    width: 85%;
                    p:nth-child(1) {
                        font-size: 1.5rem;
                    }
                    p:nth-child(n + 2) {
                        font-size: 1.3rem;
                    }
                    .kurasu1 {
                        span:nth-child(1) {
                            @include ras;
                            display: block;
                        }
                    }
                }
                .tile-1 {
                    li {
                        &:nth-child(n + 2) {
                            width: 33.3%;
                        }
                    }
                }
            }
        }
        .td2-2 {
            @include ras(60%, 100%);
            margin: 1rem 0;
        }
    }
}
@media screen and(max-width:594px) {
    .box {
        .td2 {
            .td2-1 {
                .t3 {
                    .kurasu{
                        .te3{
                            display: block;
                        }
                    }
                    .tile-1 {
                        li {
                            &:nth-child(n + 2) {
                                width: 50%;
                            }
                        }
                    }
                    .up{
                        li {
                            &:nth-child(n + 1) {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}
