.box .td2 {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.box .td2 .td2-1 {
  width: 75%;
  height: 100%;
}

.box .td2 .td2-1 .cn {
  position: fixed;
  right: 84.8%;
  left: auto;
  top: auto;
  margin-top: 5rem;
  margin-right: auto;
}

.box .td2 .td2-1 .img {
  position: fixed;
  right: 84.8%;
  left: auto;
  top: auto;
  margin-right: auto;
}

.box .td2 .td2-1 .t .sd {
  display: none;
}

.box .td2 .td2-1 .t .sd1 {
  display: block;
}

.box .td2 .td2-1 .t .t2 ul li {
  width: 100%;
}

.box .td2 .td2-1 .t .t2 ul li span {
  font-size: 1.4rem;
}

.box .td2 .td2-1 .t .t2 ul li span:nth-child(1) {
  width: 40%;
}

.box .td2 .td2-1 .t .t2 ul li:nth-child(1) span:nth-child(2) {
  width: 100%;
  font-size: 1.6rem;
  font-weight: bold;
}

.box .td2 .td2-1 .t3 .tile {
  width: 90%;
}

.box .td2 .td2-1 .t3 .tile p:nth-child(1) {
  font-size: 1.5rem;
}

.box .td2 .td2-1 .t3 .tile p:nth-child(n + 2) {
  font-size: 1.3rem;
}

.box .td2 .td2-1 .t3 .tile .kurasu1 span:nth-child(1) {
  width: 100%;
  height: 100%;
  display: block;
}

.box .td2 .td2-1 .t3 .tile-1 li:nth-child(n + 2) {
  width: 33.3%;
  margin: 0 auto;
}

.box .td2 .td2-2 {
  margin: 1rem 0;
}

@media screen and (max-width: 594px) {
  .box .td2 .td2-1 .t3 .kurasu .te3 {
    display: block;
  }
  .box .td2 .td2-1 .t3 .tile-1 li:nth-child(n + 2) {
    width: 50%;
  }
  .box .td2 .td2-1 .t3 .up li:nth-child(n + 1) {
    width: 100%;
  }
}
